<template>
  <div class="PDFChoropleth">
    <div class="PDFChoropleth__title">
      {{ indicator.description.label[locale] }}
    </div>
    <img class="PDFChoropleth__heatmap" :src="png" />
  </div>
</template>

<script>
export default {
  name: "PDFChoropleth",
  computed: {
    locale: function () {
      return this.$i18n.locale;
    }
  },
  props: {
    indicator: {
      type: Object
    },
    png: {
      type: String
    }
  }
};
</script>

<style lang="less">
@import "../../assets/less/_var.less";

.PDFChoropleth {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2cm;
  row-gap: 0.2cm;

  .PDFChoropleth__title {
    max-height: 0.5cm;
    font-size: 0.35cm;
    color: @color-primary-complementary;
    text-align: center;
    width: auto;
  }
  .PDFChoropleth__heatmap {
    max-height: 5cm;
  }
}
</style>
