<template>
  <div class="PDFCredits">© HI - https://atlas-logistique.gitlab.io/signal-webmap/</div>
</template>

<script>
export default {
  name: "PDFDescriptionTitle"
};
</script>
<style lang="less">
@import "../../assets/less/_var.less";

.PDFCredits {
  font-size: 0.25cm;
  color: @color-secondary;
  text-align: right;
  max-height: 1cm;
}
</style>
