<template>
  <div class="PDFChoroplethContainer">
    <div class="PDFChoroplethContainer__header">
      <div class="PDFChoroplethContainer__title">{{ group.name[locale] }}</div>
      <LVILegend class="PDFChoroplethContainer__legend" :activeGroup="group" />
    </div>

    <div class="PDFChoroplethContainer__choro">
      <PDFChoropleth
        v-for="indicator in indicators"
        :key="indicator.id"
        :indicator="indicator"
        :png="pngs[indicator.id]"
      />
    </div>
  </div>
</template>

<script>
import LVILegend from "@/components/LVILegend.vue";
import PDFChoropleth from "./PDFChoropleth.vue";
export default {
  name: "PDFChoroplethContainer",
  components: {
    LVILegend,
    PDFChoropleth
  },
  props: {
    groupId: {
      type: String
    },
    pngs: {
      type: Object
    }
  },
  computed: {
    group: function () {
      return this.$store.getters["lviGroups/getGroup"](this.groupId);
    },
    indicators: function () {
      return this.$store.getters["selection/getCurrentIndicatorsByGroup"](this.group);
    },
    locale: function () {
      return this.$i18n.locale;
    }
  }
};
</script>

<style lang="less">
@import "../../assets/less/_var.less";
.PDFChoroplethContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  border: solid 0.3mm @color-primary--light;
  padding: 0.2cm;
  row-gap: 0.5cm;

  .PDFChoroplethContainer__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    max-height: 0.8cm;

    .PDFChoroplethContainer__title {
      font-size: 0.35cm;
      font-weight: 700;
      max-width: 2cm;
      color: @color-primary--light;
      margin-right: 0.5cm;
    }
    .PDFChoroplethContainer__legend {
      max-height: 0.8cm;
      max-width: 5cm;
      width: 5cm;
    }
  }

  .PDFChoroplethContainer__choro {
    display: flex;
    flex-flow: row nowrap;
    background-color: @color-primary--dark;
  }
}
</style>
