<template>
  <div class="PDFDescriptionTitle">
    {{ $store.getters["selection/getCurrentCountry"].name }},
    {{ $t("pdf.adminLevel") }}
    {{ $store.getters["selection/getCurrentAdminLevel"] }}
  </div>
</template>

<script>
export default {
  name: "PDFDescriptionTitle"
};
</script>
<style lang="less">
@import "../../assets/less/_var.less";

.PDFDescriptionTitle {
  font-family: @font-title;
  font-size: 0.5cm;
  font-weight: 700;
  color: @color-primary;
  max-height: 1cm;
}
</style>
