<template>
  <div class="PDFMap">
    <img class="PDFMap__img" :src="imgSrc" />
    <div class="PDFMap__canvas" id="mapcontainer-pdf"></div>
  </div>
</template>

<script>
import maplibregl from "maplibre-gl";
import "maplibre-gl/dist/maplibre-gl.css";
import MapService from "@/services/MapService";
import {
  MAPLIBRE_ACCESS_TOKEN,
  MAPLIBRE_DEFAULT_PADDING,
  MAPLIBRE_BASEMAPS
} from "@/domain/map/maplibreConfig";
import { mapGetters } from "vuex";
import {
  ADDITIONAL_LAYERS,
  ADDITIONAL_LAYERS_SOURCE_ID,
  ADDITIONAL_LAYERS_STYLES
} from "@/domain/map/additionalLayers";

export default {
  name: "PDFMap",
  props: {
    map: {
      type: Object,
      required: true
    }
  },
  computed: {
    // map basemap store getter to computed property
    ...mapGetters({ basemap: "map/basemap" }),

    currentCountry: function () {
      return this.$store.getters["selection/getCurrentCountry"];
    }
  },
  data() {
    return {
      imgSrc: ""
    };
  },
  methods: {
    generateTheMap() {
      // Maplibre
      maplibregl.accessToken = MAPLIBRE_ACCESS_TOKEN;
      const map = new maplibregl.Map({
        container: "mapcontainer-pdf",
        style: MAPLIBRE_BASEMAPS[this.basemap].style,
        preserveDrawingBuffer: () => true
      });

      map.fitBounds(this.map.getBounds(), {
        padding: {
          top: MAPLIBRE_DEFAULT_PADDING,
          bottom: MAPLIBRE_DEFAULT_PADDING,
          left: MAPLIBRE_DEFAULT_PADDING,
          right: MAPLIBRE_DEFAULT_PADDING
        }
      });

      map.once("load", () => {
        this.addAdminLayer(map);

        if (this.$store.getters["map/isLayerVisible"](ADDITIONAL_LAYERS.DEMOGRAPHY)) {
          const source = {
            type: "geojson",
            data: this.$store.getters["map/demographyFeatureCollection"]
          };
          map
            .addSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.DEMOGRAPHY], source)
            .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.DEMOGRAPHY]);
        }

        map.once("idle", () => {
          this.updateImage(map);
        });
      });
    },

    async addAdminLayer(map) {
      const adminLevel = this.$store.getters["selection/getCurrentAdminLevel"];

      // Add feature
      const topoAdmin = await MapService.getAdminFeature(this.currentCountry.pcode, adminLevel);

      const adminFeature = MapService.processAdminFeature(
        topoAdmin,
        adminLevel,
        this.$store.getters["lviGroups/getMainGroup"].scheme,
        "LVI"
      );

      map.addSource("pdf-admin", {
        type: "geojson",
        data: adminFeature,
        promoteId: "id"
      });

      MapService.addMapLayer(
        map,
        "pdf-admin",
        "pdf-admin",
        null,
        ["boolean", true],
        adminLevel,
        MAPLIBRE_BASEMAPS[this.basemap].overlayMinimumOpacity,
        MAPLIBRE_BASEMAPS[this.basemap].layerIdToInsertBefore
      );
    },
    updateImage(map) {
      this.imgSrc = map.getCanvas().toDataURL();
      this.$emit("mapReady");
    }
  }
};
</script>

<style lang="less">
.PDFMap__img {
  min-height: 11.5cm;
  max-height: 11.5cm;
  height: 11.5cm;
}

.PDFMap__canvas {
  visibility: hidden;
}
</style>
