<template>
  <div class="PDFPageHeatmap">
    <PDFChoroplethContainer
      v-for="group in groups"
      :key="group"
      class="PDFPageHeatmap__choro"
      :groupId="group"
      :pngs="pngs"
    />
  </div>
</template>

<script>
import PDFChoroplethContainer from "./PDFChoroplethContainer.vue";
import { Canvg } from "canvg";

export default {
  name: "PDFPageHeatmap",
  components: {
    PDFChoroplethContainer
  },
  props: {
    groups: {
      type: Array
    }
  },

  data() {
    return {
      pngs: {}
    };
  },
  methods: {
    async generate() {
      const indicators = []; //
      this.groups.map(group => {
        indicators.push(...this.$store.getters["selection/getCurrentIndicatorsByGroupId"](group));
      });

      const pngs = {};

      for (let i = 0; i < indicators.length; i++) {
        const indicator = indicators[i];
        pngs[indicator.id] = await this.svgToPng(indicator.heatmap);
      }
      this.pngs = pngs;
    },

    async svgToPng(svg) {
      // Filter svg
      svg = svg.replace("height: auto; height: intrinsic;", "");
      const canvas = document.createElement("CANVAS");
      const ctx = canvas.getContext("2d");
      const v = Canvg.fromString(ctx, svg);

      // Render only first frame, ignoring animations and mouse.
      await v.render();

      const dataUrl = await canvas.toDataURL({ type: "image/png", quality: 1 });

      return dataUrl;
    }
  }
};
</script>

<style lang="less">
@import "../../assets/less/_var.less";
.PDFPageHeatmap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  row-gap: 0.5cm;

  .PDFPageHeatmap__choro {
    max-height: 7.5cm;
  }
}
</style>
