<template>
  <div class="PDFPage1">
    <PDFMap
      class="PDFPage1__map"
      ref="pdf-page1-map"
      :map="map"
      v-on:mapReady="$emit('page1Ready')"
    />
    <div class="PDFPage1__legend">
      <div class="PDFPage1__legendSubtitle">
        {{ $t("pdf.legendTitle") }}
      </div>
      <LVILegend class="PDFPage1__legendScale" :activeGroup="lviGroup" />
    </div>
  </div>
</template>

<script>
import LVILegend from "@/components/LVILegend.vue";
import PDFMap from "./PDFMap.vue";

export default {
  name: "PDFPage1",
  components: {
    LVILegend,
    PDFMap
  },
  props: {
    map: {
      type: Object,
      required: true
    }
  },
  computed: {
    lviGroup() {
      return this.$store.getters["lviGroups/getMainGroup"];
    }
  },
  methods: {
    generate() {
      const pdfPage1MapComponent = this.$refs["pdf-page1-map"];
      pdfPage1MapComponent.generateTheMap();
    }
  }
};
</script>

<style lang="less">
@import "../../assets/less/_var.less";
.PDFPage1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  row-gap: 0.5cm;

  .PDFPage1__map {
    min-height: 11.5cm;
    max-height: 11.5cm;
    height: 11.5cm;
  }

  .PDFPage1__legend {
    display: flex;
    flex-flow: column nowrap;

    .PDFPage1__legendSubtitle {
      font-size: 0.4cm;
      font-weight: 700;
      color: @color-primary--dark;
      max-height: 1cm;
    }

    .PDFPage1__legendScale {
      max-height: 5mm;
      max-width: 10cm;
      width: 10cm;
    }

    .LVILegend__label {
      font-size: 0.3cm;
    }
  }
}
</style>
