<template>
  <div class="PDFReport">
    <div class="PDFReport__document" ref="PDFReport__document">
      <div class="PDFReport__page">
        <PDFReportHeader class="PDFReport__pageHeader" />
        <PDFPage1
          class="PDFReport__pageContent PDFReport__pageContent PDFReport__pageContent--page1"
          ref="pdf-page1"
          :map="map"
          v-on:page1Ready="generatePDF"
        />
        <PDFCredits class="PDFReport__credits" />
        <PDFReportFooter class="PDFReport__pageFooter" />
      </div>
      <div class="PDFReport__page">
        <PDFReportHeader class="PDFReport__pageHeader" />
        <PDFPageHeatmap
          class="PDFReport__pageContent"
          :groups="['acces', 'mobilite']"
          ref="pdf-page2"
        />
        <PDFCredits class="PDFReport__credits" />
        <PDFReportFooter class="PDFReport__pageFooter" />
      </div>
      <div class="PDFReport__page">
        <PDFReportHeader class="PDFReport__pageHeader" />
        <PDFPageHeatmap
          class="PDFReport__pageContent"
          :groups="['acces_mobilite']"
          ref="pdf-page3"
        />
        <PDFCredits class="PDFReport__credits" />
        <PDFReportFooter class="PDFReport__pageFooter" />
      </div>
    </div>
  </div>
</template>

<script>
import jsPDF from "jspdf";
import PDFCredits from "./PDFCredits.vue";
import PDFPage1 from "./PDFPage1.vue";
import PDFPageHeatmap from "./PDFPageHeatmap.vue";
import PDFReportFooter from "./PDFReportFooter.vue";
import PDFReportHeader from "./PDFReportHeader.vue";

export default {
  name: "PDFReport",
  components: {
    PDFCredits,
    PDFReportFooter,
    PDFReportHeader,
    PDFPage1,
    PDFPageHeatmap
  },
  props: {
    filename: {
      type: String
    },
    map: {
      type: Object,
      required: true
    }
  },
  methods: {
    async generatePDF() {
      const pdfPage2Component = this.$refs["pdf-page2"];
      await pdfPage2Component.generate();

      const pdfPage3Component = this.$refs["pdf-page3"];
      await pdfPage3Component.generate();

      const pdf = new jsPDF({
        orientation: "landscape",
        unit: "pt",
        format: "a4"
      });

      const divContent = this.$refs["PDFReport__document"];
      await pdf.html(divContent, {
        x: 0,
        y: 0,
        html2canvas: { scale: 0.75 }
      });

      // Remove last and trailing page
      pdf.deletePage(pdf.getNumberOfPages());

      //
      this.$emit("pdfGenerated");

      // Generate the file with the document
      pdf.save(this.filename);
    },
    exportToPDF() {
      const pdfPage1Component = this.$refs["pdf-page1"];
      pdfPage1Component.generate();
    }
  }
};
</script>

<style lang="less">
@import "../../assets/less/_var.less";

.html2pdf__overlay * {
  font-family: sans-serif !important;
}

.PDFReport {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;

  /* A4 = 8.27x11.69" x 72points/inch = 595x842 points */
  /* 595x842 points */
  .PDFReport__document {
    width: 297mm;
    min-height: 210mm; /* Exact 210mm creates an extra blank page. */

    font-family: @font-secondary;
  }
}

.PDFReport__page {
  min-height: 21cm;
  max-height: 21cm;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0;
  overflow: hidden;
  justify-content: space-between;
  .PDFReport__pageHeader {
    height: 2cm;
    width: 100%;
  }
  .PDFReport__pageFooter {
    height: 2cm;
    width: 100%;
  }

  .PDFReport__credits {
    padding-right: 1cm;
  }

  .PDFReport__pageContent {
    height: 16cm;
    max-height: 16cm;
    padding-left: 1cm;
    padding-right: 1cm;
  }
  .PDFReport__pageContent--page1 div {
    height: 100%;
    width: 100%;
  }
}
</style>
