<template>
  <div class="PDFReportHeader">
    <div class="PDFReportHeader__content">
      <div class="PDFReportHeader__left">
        <div class="PDFReportHeader__squareItem">
          <h1 class="PDFReportHeader__title">{{ $t("pdf.lviMap") }}</h1>
        </div>
      </div>
      <div class="PDFReportHeader__right">{{ $d(new Date()) }}</div>
    </div>
    <PDFDescriptionTitle class="PDFReportHeader__subtitle" />
  </div>
</template>

<script>
import PDFDescriptionTitle from "./PDFDescriptionTitle.vue";

export default {
  name: "PDFReportHeader",
  components: {
    PDFDescriptionTitle
  }
};
</script>

<style lang="less">
@import "../../assets/less/_var.less";
.PDFReportHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  row-gap: 0.3cm;
  padding-bottom: 0.3cm;
  .PDFReportHeader__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 0.3cm;

    .PDFReportHeader__left {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      .PDFReportHeader__squareItem {
        background-color: @color-primary;
        height: 1cm;
        width: 10cm;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .PDFReportHeader__title {
          color: white;
          font-weight: bold;
          font-family: @font-title;
          font-size: 0.5cm;
        }
      }
    }
    .PDFReportHeader__right {
      margin-top: 0.2cm;
      margin-right: 1cm;
    }
  }

  .PDFReportHeader__subtitle {
    margin-left: 1cm;
  }
}
</style>
