<template>
  <div class="PDFReportFooter">
    <img
      class="PDFReportFooter__img"
      :src="require('@/assets/imgs/logos/logo_atlas_hi-white-pdf.png')"
    />
  </div>
</template>

<script>
export default {
  name: "PDFReportFooter"
};
</script>

<style lang="less">
@import "../../assets/less/_var.less";
.PDFReportFooter {
  background-color: @color-primary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  .PDFReportFooter__img {
    height: 2cm;
    width: auto;
  }
}
</style>
