<template>
  <div class="InfoCtn InfoCtn--about">
    <div class="InfoCtn__img" data-copyright="© HI Bénin"></div>
    <div class="InfoCtn__ctn ctn">
      <h2>{{ $t("nav.about") }}</h2>
      <p class="InfoCtn__desc">
        {{ $t("about.desc") }}
      </p>
      <span v-html="$t('about.content')"></span>
    </div>
  </div>
</template>
<script>
export default {
  name: "About"
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.InfoCtn--about {
  background: @color-fuschia;
  color: @color-primary-complementary;

  .InfoCtn__img {
    background: url(../assets/imgs/about_photo_benin.jpg) no-repeat top center / cover;
  }
}
</style>
