<template>
  <div class="Catalog ctn">
    <h2>{{ $t("nav.catalog") }}</h2>
    <p class="Catalog__desc">
      {{ $t("catalog.desc") }}
    </p>
    <Loader v-if="$store.state.catalog.isLoading" :isLoading="$store.state.catalog.isLoading" />
    <div v-else class="Catalog__filtersCols">
      <div class="Catalog__filtersCtn">
        <h4 class="Catalog__filtersTitle">{{ $t("catalog.filters.title") }}</h4>
        <div class="Catalog__filtersSections">
          <CatalogFilter :tree="tree.childs['thematics']" />
          <CatalogFilter :tree="tree.childs['years']" />
          <CatalogFilter :tree="tree.childs['adminLevels']" />
        </div>
      </div>
      <div class="Catalog__resultsCtn">
        <span class="Catalog__resultNb">{{ resultCountDesc }}</span>
        <div class="Catalog__results">
          <a
            class="Catalog__resultCtn"
            v-for="(result, index) in shownResults"
            :key="index"
            :href="link(result)"
            :download="result.action === 'download' ? snakeCase(result.name) : false"
            :target="result.action === 'open' ? '_blank' : false"
          >
            <div class="Catalog__resultInfo">
              <span class="Catalog__resultName" :title="translateFileName(result.name)">{{
                translateFileName(result.name)
              }}</span>
              <span class="Catalog__resultTag Tag">{{ result.format }}</span>
            </div>
            <div class="Catalog__resultAction">
              <div class="Catalog__resultActionImgCtn">
                <img :src="require('@/assets/icons/arrow_big.svg')" />
              </div>
              <span class="Catalog__resultActionName">{{
                result.link !== "" ? result.action : "Request"
              }}</span>
            </div>
          </a>
        </div>
        <div class="Pagination" v-if="pageCounts > 1">
          <span
            :class="'Pagination__item' + (activePage === i ? ' Pagination__item--active' : '')"
            v-for="(i, index) in (1, pageCounts)"
            :key="index"
            @click="activePage = i"
            >{{ i }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CatalogFilter from "@/components/CatalogFilter.vue";
import Loader from "@/components/Loader.vue";

export default {
  name: "Catalog",
  components: {
    CatalogFilter,
    Loader
  },
  data() {
    return {
      activePage: 1,
      itemsPerPage: 10
    };
  },
  computed: {
    resultsCount: function () {
      return this.results.length;
    },
    filteredResultsCount: function () {
      return this.filteredResults.length;
    },
    resultCountDesc: function () {
      return this.filteredResultsCount + this.$t("catalog.resultsNbDesc") + this.resultsCount;
    },
    tree: function () {
      return this.$store.state.catalog.tree;
    },

    results: function () {
      return this.$store.state.catalog.documents.filtered;
    },

    filteredResults: function () {
      let results = this.results;
      this.resetActivePage();
      return results;
    },
    shownResults: function () {
      return this.filteredResults.slice(
        this.itemsPerPage * (this.activePage - 1),
        this.itemsPerPage * this.activePage
      );
    },
    pageCounts: function () {
      return Math.ceil(this.filteredResults.length / this.itemsPerPage);
    }
  },
  methods: {
    resetActivePage: function () {
      this.activePage = 1;
    },
    link: function (result) {
      return result.link != "" ? result.link : this.mailtoLink(result);
    },
    mailtoLink: function (result) {
      let itemName = "document";
      if ("en" in result.name) {
        itemName = result.name["en"];
      }

      return `mailto:${this.$config.focalEmail}?subject=SIGNAL - Access request - "${itemName}"&body=Hello,%0D%0A %0D%0AI would like to have access to "${itemName}" resource in the SIGNAL resource catalog.%0D%0A %0D%0AI plan to use it for ... %0D%0A %0D%0A`;
    },
    snakeCase: function (string) {
      return string
        .replace(/\d+/g, " ")
        .split(/ |\B(?=[A-Z])/)
        .map(word => word.toLowerCase())
        .join("_");
    },
    filterByThematic: function (results) {
      return results.filter(r => r.thematic.some(t => this.selectedThematics.includes(t)));
    },
    filterByAdministrativeLevel: function (results) {
      return results.filter(r =>
        r.countries.some(c => this.selectedAdministrativeLevels.includes(c))
      );
    },
    filterByYear: function (results) {
      return results.filter(r => this.selectedYears.includes(+r.years));
    },
    translateFileName: function (name) {
      switch (this.$i18n.locale) {
        case "en":
          return name.en;
        case "fr":
          return name.fr;
        default:
          return "undefined";
      }
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.Catalog {
  background: @color-primary-complementary;
  h2 {
    color: @color-primary;
    margin-bottom: 0.5rem;
    font-family: @font-title;
    font-weight: 300;
    line-height: 1;
  }

  .Catalog__desc {
    font-weight: bold;
    color: @color-primary--dark;
    margin: 0 0 2.5rem 0;
  }
  .Catalog__filtersCols {
    display: flex;
    gap: 2rem;
    flex-flow: row nowrap;

    .Catalog__filtersCtn {
      width: 15%;
      min-width: 17rem;
      flex: 1 0 auto;

      .Catalog__filtersTitle {
        text-transform: uppercase;
        font-size: 0.7em;
        color: #737373;
        font-weight: bold;
        margin: 0;
      }
      .Catalog__filtersSections {
        display: flex;
        flex-flow: column nowrap;

        .Catalog__filterSection {
          display: flex;
          flex-flow: column nowrap;

          .Catalog__filterSectionHeader {
            padding: 0.6rem 0;
            border-bottom: solid 1px #c9c9c9;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .Catalog__filterSectionTitle,
            button {
              font-size: 1.1em;
              color: @color-primary;
              margin: 0;
            }
            button {
              margin: 0 0.5rem;
              background: none;
              outline: none;
              border: none;
              font-size: 1.3em;
              cursor: pointer;
            }
          }
          .Catalog__filters {
            display: flex;
            flex-flow: column nowrap;

            .Catalog__filter {
              display: flex;
              flex-flow: row nowrap;
            }
          }
        }
      }
    }
    .Catalog__resultsCtn {
      flex: 1 1 auto;
      max-width: calc(100% - 19rem);
      width: 85%;
      .Catalog__results {
        margin: 0.5rem 0 1.5rem 0;
        .Catalog__resultCtn {
          cursor: pointer;
          border-bottom: solid 2px @color-primary;
          padding: 0.75rem 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;

          .Catalog__resultInfo {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            flex: 1 0 auto;
            width: calc(100% - 10rem);
            margin-right: 2rem;

            .Catalog__resultName {
              font-weight: 700;
              color: @color-primary--dark;
              transition: all 0.1s ease-in;
              max-width: calc(100% - 3rem);
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
            }
            .Catalog__resultTag {
              margin-left: 0.8rem;
            }
          }

          .Catalog__resultAction {
            min-width: 10rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .Catalog__resultActionName {
              text-transform: uppercase;
              color: @color-primary;
              margin-left: 1rem;
            }

            .Catalog__resultActionImgCtn {
              width: 20px;
              overflow: hidden;
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: flex-end;
              transition: all 0.15s ease-in;
            }
            img {
              max-height: 7px;
            }
          }
          &:hover {
            .Catalog__resultInfo {
              .Catalog__resultName {
                color: @color-primary;
              }
              .Catalog__resultTag {
                color: #fff;
                background: @color-primary;
              }
            }
            .Catalog__resultAction {
              .Catalog__resultActionImgCtn {
                width: 35px;
              }
            }
          }
        }
      }

      .Pagination {
        display: flex;
        flex-flow: row nowrap;
        margin: 1rem 0;

        .Pagination__item {
          color: @color-primary--dark;
          transition: all 0.15s ease-in;
          margin-right: 1rem;
          cursor: pointer;

          &--active,
          &:hover {
            color: @color-primary;
            text-decoration: underline;
            font-weight: 700;
          }
        }
      }
    }
  }

  .Tag {
    text-transform: uppercase;
    padding: 1px 5px;
    border-radius: 4px;
    color: @color-primary;
    background: fade(@color-primary, 13%);
    transition: all 0.15s ease-in;
    font-weight: 700;
    font-size: 0.65em;
  }
}
</style>
