<template>
  <div class="Contact">
    <div class="Contact__ctn ctn">
      <h2 class="Contact__title">{{ $t("nav.contact") }}</h2>
      <div class="Contact__body">
        <div class="Contact__text">
          {{ $t("contact.more") }}
        </div>
        <div class="Contact__infos">
          <a :href="'mailto:' + $config.focalEmail" class="Contact__mail">
            <ArrowButton :title="$config.focalEmail" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ArrowButton from "@/components/ArrowButton.vue";
export default {
  name: "Contact",
  components: {
    ArrowButton
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.Contact {
  background: @color-blue-navy;
  color: @color-primary-complementary;
  display: flex;
  flex-flow: column;
  row-gap: 3rem;
  justify-content: flex-start;
  margin: 0;
  padding: 2rem 0;

  .Contact__title {
    font-family: @font-title;
    font-weight: 300;
    line-height: 1;
    margin-top: 0;
  }
  .Contact__body {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    .Contact__text {
      font-size: 1.2em;
      margin-right: 2rem;
    }

    .Contact__mail {
      text-transform: uppercase;
      margin-top: 1rem;
      color: @color-primary-complementary;
      text-decoration: none;
    }
  }
}
</style>
