<template>
  <footer class="DevFooter" v-if="!production">
    <code>Branch : {{ branch }}</code>
    <code>Commit message : {{ message }}</code>
    <code>by {{ author }} the {{ time }}</code>
  </footer>
</template>

<script>
export default {
  name: "DevFooter",
  computed: {
    production: () => process.env.NODE_ENV === "production",
    branch: () => process.env.VUE_APP_CI_COMMIT_BRANCH || "-",
    message: () => process.env.VUE_APP_CI_COMMIT_MESSAGE || "-",
    time: () => new Date(process.env.VUE_APP_CI_COMMIT_TIMESTAMP).toLocaleString("fr-FR") || "-",
    author: () => process.env.VUE_APP_CI_COMMIT_AUTHOR || "-"
  }
};
</script>

<style>
.DevFooter {
  text-align: center;
}
code {
  border-right: solid 1px;
  padding: 0 1rem;
}
</style>
