<template>
  <div class="HeaderNav">
    <a :href="$t('header.url')" target="_blank" class="HeaderNav__left HeaderNav__logo">
      <img :src="require('@/assets/imgs/logos/logo_atlas_hi.png')" height="40" />
    </a>

    <h1 class="HeaderNav__title">{{ $t("title") }}</h1>
    <div class="HeaderNav__right">
      <ul class="LocalPicker__Container">
        <li
          class="LocalPicker__item"
          v-for="locale in locales"
          :key="locale"
          @click="switchLocale(locale)"
        >
          {{ locale.toUpperCase() }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderNav",
  methods: {
    switchLocale: function (locale) {
      if (this.$i18n.locale !== locale) {
        this.$i18n.locale = locale;
      }

      let links = [...document.querySelectorAll(".LocalPicker__Container li")].reverse();
      links.forEach(el => el.classList.remove("active"));
      links.every(link => {
        let key = link["innerText"].toLowerCase();
        if (key === locale) {
          link.classList.add("active");
          return false;
        }
        return true;
      });
    }
  },
  mounted() {
    this.switchLocale("en");
  },
  data() {
    return {
      locales: ["en", "fr"]
    };
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.HeaderNav {
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: @z-nav + 10;
  height: @dim-topnavbar;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 13px 3px rgba(0, 0, 0, 0.1);
  padding-left: 15px;
  padding-right: 15px;

  .HeaderNav__title {
    margin: 1rem 0;
    color: @color-primary;
    text-align: center;
    font-family: @font-title;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
  }

  .HeaderNav__right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;

    .LocalPicker__Container {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 5px;
      list-style: none;

      li {
        padding: 0.2rem 0.375rem;
        text-decoration: none;
        color: @color-primary;
        cursor: pointer;
        font-size: 0.75em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
      li:hover {
        text-decoration: underline;
        color: @color-primary--dark;
        cursor: pointer;
      }
      li.active {
        background-color: @color-primary;
        color: #fff;
      }
      li:hover.active {
        text-decoration: none;
        background-color: @color-primary;
        color: #fff;
      }
    }
  }
}
</style>
