<template>
  <div
    class="Map"
    id="mapcontainer"
    :data-country-is-selected="hasCurrentCountry"
    :data-popup-absolute="hasHoveredPCode && isMapMoving"
    :data-choropleth-shown="hasChoroplethShown && hasCurrentCountry"
    :style="cssVars"
  >
    <Choropleth v-if="hasCurrentCountry" />
    <Legend v-if="map" :map="map" />
    <LVIPopup v-if="hasCurrentCountry" ref="lviPopup" />
    <LVIMapTooltip v-if="hasHoveredPCode" ref="LVIMapTooltip" />
    <InfoPopup v-if="hasCurrentCountry" />
    <AdminLevelPicker class="Map__adminLevelPicker" />
    <MapZoomHelper />
    <CountrySelector class="Map__selector" />
    <MapControls class="Map__navControl" v-if="map" :map="map" :scene="scene" />
    <Loader class="Map__loader" :isLoading="isLoading" />
  </div>
</template>

<script>
import maplibregl from "maplibre-gl";
import "maplibre-gl/dist/maplibre-gl.css";
import MapboxGeocoder from "@mapbox/mapbox-gl-geocoder";
import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";
import Choropleth from "@/components/Choropleth.vue";
import Legend from "@/components/Legend.vue";
import MapService from "@/services/MapService";
import CountrySelector from "@/components/CountrySelector.vue";
import MapZoomHelper from "@/components/MapZoomHelper.vue";
import MapControls from "@/components/MapControls.vue";
import LVIPopup from "@/components/LVIPopup.vue";
import LVIMapTooltip from "@/components/LVIMapTooltip.vue";
import InfoPopup from "@/components/InfoPopup";
import AdminLevelPicker from "@/components/AdminLevelPicker";
import Loader from "@/components/Loader.vue";
import isoMapping from "@/../public/data/iso_map.json";

import { points, polygon } from "@turf/turf";
import turfCenter from "@turf/center";
import {
  MAPLIBRE_ACCESS_TOKEN,
  MAPLIBRE_CREDITS,
  MAPLIBRE_DEFAULT_PADDING,
  MAPLIBRE_DEFAULT_BASEMAP,
  MAPLIBRE_BASEMAPS
} from "@/domain/map/maplibreConfig";
import { mapMutations } from "vuex";
import {
  ADDITIONAL_LAYERS,
  ADDITIONAL_LAYERS_STYLES,
  ADDITIONAL_LAYERS_SOURCE_ID,
  ADDITIONAL_LAYERS_STYLES_ID
} from "@/domain/map/additionalLayers";
import { loadImage } from "@/domain/loadImage";
import { LAYER_PRECIPITATION_SOURCE_TILES_URL } from "@/domain/map/layerPrecipitation";
import { LAYER_GDACS_ICONS } from "@/domain/map/layerGDACS";

export default {
  name: "Map",
  components: {
    AdminLevelPicker,
    Choropleth,
    CountrySelector,
    InfoPopup,
    Legend,
    Loader,
    LVIPopup,
    LVIMapTooltip,
    MapControls,
    MapZoomHelper
  },
  data() {
    return {
      mapboxgeocoder: null,
      map: null,
      loaded: false,
      scene: {
        lng: 1,
        lat: 20,
        baseZoom: 2
      },
      prevLayer: null,
      imagesToLoad: { document: require("@/assets/icons/document.png"), ...LAYER_GDACS_ICONS },
      availableAdditionalLayers: [],
      gdacsLayerVisible: false,
      attributionsControl: this.createAttributionsControl(MAPLIBRE_CREDITS),
      scaleControl: this.createScaleControl()
    };
  },
  computed: {
    zoomOptions() {
      return {
        padding: {
          top: MAPLIBRE_DEFAULT_PADDING,
          bottom: MAPLIBRE_DEFAULT_PADDING + (this.hasChoroplethShown ? 224 : 0),
          left: MAPLIBRE_DEFAULT_PADDING,
          right: MAPLIBRE_DEFAULT_PADDING
        },
        maxZoom: 9
      };
    },
    // selection state
    hasCurrentCountry() {
      return this.$store.getters["selection/hasCurrentCountry"];
    },
    currentCountry() {
      return this.$store.getters["selection/getCurrentCountry"];
    },

    hasCurrentAdminPCode() {
      return this.$store.getters["selection/hasCurrentAdminPCode"];
    },
    currentAdminLevel() {
      return this.$store.getters["selection/getCurrentAdminLevel"];
    },
    additionalLayers() {
      return this.$store.getters["selection/additionalLayers"];
    },

    // ui state
    hasChoroplethShown() {
      return this.$store.getters["ui/hasChoroplethShown"];
    },
    hasHoveredPCode() {
      return this.$store.getters["ui/hasHoveredPCode"];
    },
    isLoading() {
      return this.$store.getters["ui/isLoading"];
    },
    isMapMoving: function () {
      return this.$store.getters["ui/isMapMoving"];
    },
    basemap() {
      return this.$store.getters["map/basemap"];
    },

    //
    GEO: function () {
      return this.$store.getters["map/activeGeo"];
    },
    demographyFeatureCollection() {
      return this.$store.getters["map/demographyFeatureCollection"];
    },
    documentsFeatureCollection() {
      return this.$store.getters["map/documentsFeatureCollection"];
    },
    disasterMappingFeatureCollection() {
      return this.$store.getters["map/disasterMappingFeatureCollection"];
    },
    gdacsAllEventFeatureCollection() {
      return this.$store.getters["map/gdacsAllEventFeatureCollection"];
    },
    gdacsCycloneFeatureCollection() {
      return this.$store.getters["map/gdacsCycloneFeatureCollection"];
    },
    gdacsFloodFeatureCollection() {
      return this.$store.getters["map/gdacsFloodFeatureCollection"];
    },

    cssVars: function () {
      return {
        "--hide-popup-tip": this.$store.getters["selection/hasCurrentAdminPCodeLviData"]
          ? "inherit"
          : "none"
      };
    }
  },
  watch: {
    "$store.state.selection.currentSelection": function () {
      this.updateMapLayers();
    },
    "$store.state.selection.currentAdminPCode": function () {
      this.focusPlace();
    },
    "$store.state.ui.choroplethShown": function () {
      if (!this.isLoading) this.zoomToFeature();
    },
    basemap() {
      const style = this.map.getStyle();
      const layer = style.layers.find(layer => layer.id === this.prevLayer);
      const source = style.sources[layer.source];
      // change layer fill opacity when hovering feature
      layer.paint["fill-opacity"][2] = MAPLIBRE_BASEMAPS[this.basemap].overlayMinimumOpacity;
      this.map.setStyle(MAPLIBRE_BASEMAPS[this.basemap].style);

      this.map.once("styledata", () => {
        this.loadImages().then(() => {
          this.map.addSource(layer.source, source);
          this.map.addLayer(layer, MAPLIBRE_BASEMAPS[this.basemap].layerIdToInsertBefore);
          this.addAdditionalLayers();
          this.updateAdditionalLayersVisibility();
        });
      });
    },
    demographyFeatureCollection() {
      this.updateDemographyLayer();
    },
    documentsFeatureCollection() {
      this.updateDocumentsLayer();
    },
    disasterMappingFeatureCollection() {
      this.updateDisasterMappingLayers();
    },
    gdacsAllEventFeatureCollection() {
      this.updateGDACSAllEventsLayer();
    },
    gdacsCycloneFeatureCollection() {
      this.updateGDACSCyclonesLayer();
    },
    gdacsFloodFeatureCollection() {
      this.updateGDACSFloodsLayer();
    },
    additionalLayers() {
      this.updateAdditionalLayersVisibility();
    },
    gdacsLayerVisible() {
      const attributions = this.gdacsLayerVisible
        ? `Global Disaster Alert and Coordination System, GDACS ${MAPLIBRE_CREDITS}`
        : MAPLIBRE_CREDITS;

      this.map.removeControl(this.attributionsControl);
      this.map.removeControl(this.scaleControl);

      this.attributionsControl = this.createAttributionsControl(attributions);
      this.scaleControl = this.createScaleControl();

      this.map.addControl(this.attributionsControl, "bottom-left");
      this.map.addControl(this.scaleControl, "bottom-left");
    }
  },
  mounted() {
    maplibregl.accessToken = MAPLIBRE_ACCESS_TOKEN;
    this.map = new maplibregl.Map({
      container: "mapcontainer",
      style: MAPLIBRE_DEFAULT_BASEMAP.style,
      center: [this.scene.lng, this.scene.lat],
      zoom: this.scene.baseZoom,
      minZoom: this.scene.baseZoom,
      attributionControl: false
    });

    /// Put attribution control bottom-left
    this.map.addControl(this.attributionsControl, "bottom-left");
    // disable map rotation using right click + drag
    this.map.dragRotate.disable();
    // disable map rotation using touch rotation gesture
    this.map.touchZoomRotate.disableRotation();

    this.$store.commit("map/updateMap", this.map);

    this.addMapControls();

    this.map.on("load", () => {
      this.loadImages().then(() => {
        this.initLayers();
        this.enableAdditionalLayer(ADDITIONAL_LAYERS.DOCUMENTS);
        this.disableAdditionalLayer(ADDITIONAL_LAYERS.DEMOGRAPHY);
      });
    });

    // Look for visible GDACS layers each time map style changes
    this.map.on("styledata", this.updateGDACSLayerVisible);
  },
  methods: {
    ...mapMutations({
      disableAdditionalLayer: "selection/disableAdditionalLayer",
      enableAdditionalLayer: "selection/enableAdditionalLayer"
    }),

    focusPlace: function () {
      this.map.once("idle", () => {
        this.zoomToFeature();
      });
    },
    updateMapLayers: function () {
      this.removeActiveLayers();

      const iso3 = this.currentCountry?.pcode;
      if (iso3) {
        this.updateActiveGeo(MapService.getGeoBasedOnIso3(iso3));
        this.addAdminLayer(this.GEO);
      } else {
        this.updateActiveGeo(MapService.getGeo("world"));
        this.addAdmin0Layer();
      }
    },

    addMapControls: function () {
      this.map.addControl(this.scaleControl);
      this.mapboxgeocoder = new MapboxGeocoder({
        accessToken: MAPLIBRE_ACCESS_TOKEN,
        mapboxgl: maplibregl,
        marker: false,
        zoom: 12,
        countries: this.$store.getters["countries/getCountries"]
          .map(c => isoMapping[c.pcode.toUpperCase()].toLowerCase())
          .join(","),
        placeholder: "Search for a place...",
        flyTo: this.zoomOptions
      });
      this.mapboxgeocoder.on("result", data => {
        let iso2 = null;
        // If subset of country
        if (typeof data.result.context !== "undefined") {
          iso2 = data.result.context[data.result.context.length - 1].short_code;
        }
        // else if is a country
        else {
          iso2 = data.result.properties.short_code;
        }
        let iso3 = MapService.getIso3FromIso2(iso2);
        this.$store.commit("selection/setCurrentCountryByPCode", iso3);
        this.mapboxgeocoder._inputEl.onblur = () => {
          this.mapboxgeocoder._inputEl.value = "";
        };
      });
      this.map.addControl(this.mapboxgeocoder);
    },

    updateActiveGeo: function (geo) {
      this.$store.commit("map/updateActiveGeo", geo.id);
    },

    initLayers: function () {
      this.addAdmin0Layer();
      this.addAdditionalLayers();
    },

    zoomToFeature: function () {
      if (this.hasCurrentCountry && this.mapboxgeocoder._inputEl.value === "") {
        const features = MapService.getCurrentSourceFeatures(this.hasCurrentAdminPCode).features;
        this.map.fitBounds(MapService.getMultipleFeaturesBounds(features), this.zoomOptions);
      }
    },

    async addAdminLayer(GEO, filter = ["boolean", true]) {
      this.$store.commit("ui/activateLoading");
      const meta = MapService.getGeoMetaData(GEO.iso || null);
      if (typeof this.map.getSource(meta.source) !== "undefined") {
        this.map.removeSource(meta.source);
      }

      if (GEO.id === "world") {
        meta["sourceLayer"] = GEO.sourceLayer;
        this.map.addSource(meta.source, {
          type: "vector",
          url: meta.sourceUrl
        });
      } else {
        const data = await MapService.loadAdmin(GEO.iso, this.currentAdminLevel);
        this.$store.commit("map/updateActiveGeoFeatures", {
          level: this.currentAdminLevel,
          features: data
        });
        this.map.addSource(meta.source, {
          type: "geojson",
          data: data,
          promoteId: "id"
        });
      }

      this.addLayers(GEO, meta, filter);
      this.map.once("idle", () => {
        this.zoomToFeature();
        this.$store.commit("ui/deactivateLoading");
      });
    },

    addLayers: function (GEO, meta, filter) {
      this.map.once("idle", () => {
        if (typeof this.map.getLayer(meta.layer) === "undefined") {
          MapService.addMapLayer(
            this.map,
            meta.layer,
            meta.source,
            meta.sourceLayer,
            filter,
            GEO.level,
            MAPLIBRE_BASEMAPS[this.basemap].overlayMinimumOpacity,
            MAPLIBRE_BASEMAPS[this.basemap].layerIdToInsertBefore
          );
        }
        this.addMapEvents(meta);
        this.prevLayer = meta.layer;
      });
    },

    addAdmin0Layer: function () {
      this.addAdminLayer(MapService.getGeo("world"), MapService.getAdmin0Filter());
    },

    removeActiveLayers: function () {
      if (typeof this.map.getLayer(this.prevLayer) !== "undefined")
        this.map.removeLayer(this.prevLayer);
    },

    getArrayDepth(obj) {
      if (Array.isArray(obj)) return 1 + Math.max(...obj.map(t => this.getArrayDepth(t)));
      else return 0;
    },

    mapClickHandler: function (meta, e) {
      const pCode =
        e.features[0].properties[
          MapService.getIdBasedOnActiveAdminLevel(this.GEO.level === 0 ? 0 : null)
        ];
      if (this.GEO.level === 0) {
        this.$store.commit("selection/setCurrentCountryByPCode", pCode);
      } else {
        this.$store.commit("ui/setMapMove", false);
        const coordinates = e.features[0].geometry.coordinates[0];
        var center = turfCenter(
          this.getArrayDepth(coordinates) > 2 ? polygon(coordinates) : points(coordinates)
        ).geometry.coordinates;
        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - center[0]) > 180) {
          center[0] += e.lngLat.lng > center[0] ? 360 : -360;
        }
        const popup = new maplibregl.Popup({ focusAfterOpen: false, anchor: "left" })
          .setLngLat(center)
          .setDOMContent(this.$refs.lviPopup.$el)
          .addTo(this.$store.state.map.map);
        popup._closeButton.addEventListener("click", () => {
          this.$store.commit("selection/clearCurrentAdminPCode");
        });

        this.map.setFeatureState(
          {
            source: meta.source,
            ...(meta.sourceLayer && { sourceLayer: meta.sourceLayer }),
            id: pCode
          },
          { active: true }
        );
        popup._update();
        this.$store.commit("ui/setPopup", popup);

        const dict = this.$store.getters["selection/getCurrentCountryLviData"];

        // If there is some LVI data for the boundaries
        if (Object.keys(dict).length) {
          this.$store.commit("selection/setCurrentAdminPCode", pCode);
        }
      }
    },

    mapMouseMoveHandler: function (meta, e) {
      if (e.features.length > 0) {
        this.$store.commit("ui/setMapMove", true);
        const hoveredId = e.features[0].properties.iso_3166_1_alpha_3 || e.features[0].id;
        this.map.getCanvas().style.cursor = "pointer";
        if (hoveredId !== this.$store.getters["ui/getHoveredPCode"]) {
          if (this.$store.getters["ui/hasHoveredPCode"]) {
            this.map.setFeatureState(
              {
                source: meta.source,
                ...(meta.sourceLayer && { sourceLayer: meta.sourceLayer }),
                id: this.$store.getters["ui/getHoveredPCode"]
              },
              { hover: false }
            );
          }

          this.$store.commit("ui/setHoveredPCode", hoveredId);
          this.map.setFeatureState(
            {
              source: meta.source,
              ...(meta.sourceLayer && { sourceLayer: meta.sourceLayer }),
              id: hoveredId
            },
            { hover: true }
          );
        }
      }
    },

    mapMouseLeaveHandler: function (meta) {
      if (this.$store.getters["ui/hasHoveredPCode"]) {
        this.map.getCanvas().style.cursor = "";
        this.map.setFeatureState(
          {
            source: meta.source,
            ...(meta.sourceLayer && { sourceLayer: meta.sourceLayer }),
            id: this.$store.getters["ui/getHoveredPCode"]
          },
          { hover: false }
        );
      }
      this.$store.commit("ui/resetHoveredPCode");
    },

    removeMapEvents: function (meta) {
      if (this.prevLayer != null) {
        this.map.off("mousemove", this.prevLayer, this.mapMouseMoveHandler.bind(this, meta));
        this.map.off("mouseleave", this.prevLayer, () => this.mapMouseLeaveHandler(meta));
        this.map.off("click", this.prevLayer, this.mapClickHandler.bind(this, meta));
      }
    },

    addMapEvents: function (meta) {
      // Off all previous map event listeners
      this.removeMapEvents();

      // Set wheel event to prevent zooming the map when scrolling down the page
      this.map.on("wheel", event => {
        if (event.originalEvent.ctrlKey) return;
        if (event.originalEvent.metaKey) return;
        if (event.originalEvent.altKey) return;
        this.$store.commit("ui/updateMapZoomHelperShown");
        event.preventDefault();
      });

      // Add map event listeners
      if (this.prevLayer != meta.layer) {
        this.map.on("mousemove", meta.layer, this.mapMouseMoveHandler.bind(this, meta));
        this.map.on("mouseleave", meta.layer, () => this.mapMouseLeaveHandler(meta));
        this.map.on("click", meta.layer, this.mapClickHandler.bind(this, meta));
      }
    },

    loadImages() {
      const imageKeys = Object.keys(this.imagesToLoad);
      return Promise.all(
        imageKeys.map(imageKey => loadImage(this.map, imageKey, this.imagesToLoad[imageKey]))
      ).catch(error => {
        console.error(error);
      });
    },

    // demography layer
    addDemographyLayer() {
      const source = { type: "geojson", data: this.demographyFeatureCollection };
      this.map
        .addSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.DEMOGRAPHY], source)
        .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.DEMOGRAPHY]);
      this.availableAdditionalLayers.push(ADDITIONAL_LAYERS.DEMOGRAPHY);
    },
    updateDemographyLayer() {
      this.map
        .getSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.DEMOGRAPHY])
        .setData(this.demographyFeatureCollection);
    },

    // document layer
    addDocumentsLayer() {
      const source = { type: "geojson", data: this.documentsFeatureCollection };
      this.map
        .addSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.DOCUMENTS], source)
        .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.DOCUMENTS]);
      this.availableAdditionalLayers.push(ADDITIONAL_LAYERS.DOCUMENTS);
    },

    updateDocumentsLayer() {
      this.map
        .getSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.DOCUMENTS])
        .setData(this.documentsFeatureCollection);
    },

    // precipitation layer
    addPrecipitationLayer() {
      const source = {
        type: "raster",
        tiles: [LAYER_PRECIPITATION_SOURCE_TILES_URL],
        tileSize: 256
      };
      this.map
        .addSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.PRECIPITATION], source)
        .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.PRECIPITATION]);
      this.availableAdditionalLayers.push(ADDITIONAL_LAYERS.PRECIPITATION);
    },

    // disaster mapping layer
    addDisasterMappingLayers() {
      const source = { type: "geojson", data: this.disasterMappingFeatureCollection };
      this.map
        .addSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.DISASTER_MAPPING_FILL], source)
        .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.DISASTER_MAPPING_FILL])
        .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.DISASTER_MAPPING_LINE]);
      this.availableAdditionalLayers.push(ADDITIONAL_LAYERS.DISASTER_MAPPING_FILL);
      this.availableAdditionalLayers.push(ADDITIONAL_LAYERS.DISASTER_MAPPING_LINE);
    },

    updateDisasterMappingLayers() {
      this.map
        .getSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.DISASTER_MAPPING_FILL])
        .setData(this.disasterMappingFeatureCollection);
    },

    // GDACS all events layer
    addGDACSAllEventsLayerLayer() {
      const source = { type: "geojson", data: this.gdacsAllEventFeatureCollection };
      this.map
        .addSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.GDACS_ALL], source)
        .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.GDACS_ALL]);
      this.availableAdditionalLayers.push(ADDITIONAL_LAYERS.GDACS_ALL);
    },

    updateGDACSAllEventsLayer() {
      this.map
        .getSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.GDACS_ALL])
        .setData(this.gdacsAllEventFeatureCollection);
    },

    // GDACS cyclone events layer
    addGDACSCyclonesLayerLayer() {
      const source = { type: "geojson", data: this.gdacsCycloneFeatureCollection };
      this.map
        .addSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.GDACS_CYCLONES], source)
        .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.GDACS_CYCLONES]);
      this.availableAdditionalLayers.push(ADDITIONAL_LAYERS.GDACS_CYCLONES);
    },

    updateGDACSCyclonesLayer() {
      this.map
        .getSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.GDACS_CYCLONES])
        .setData(this.gdacsCycloneFeatureCollection);
    },

    // GDACS flood events layer
    addGDACSFloodsLayerLayer() {
      const source = { type: "geojson", data: this.gdacsFloodFeatureCollection };
      this.map
        .addSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.GDACS_FLOODS], source)
        .addLayer(ADDITIONAL_LAYERS_STYLES[ADDITIONAL_LAYERS.GDACS_FLOODS]);
      this.availableAdditionalLayers.push(ADDITIONAL_LAYERS.GDACS_FLOODS);
    },

    updateGDACSFloodsLayer() {
      this.map
        .getSource(ADDITIONAL_LAYERS_SOURCE_ID[ADDITIONAL_LAYERS.GDACS_FLOODS])
        .setData(this.gdacsFloodFeatureCollection);
    },

    // additional layer
    addAdditionalLayers() {
      this.addDemographyLayer();
      this.addDocumentsLayer();
      this.addGDACSAllEventsLayerLayer();
      this.addGDACSCyclonesLayerLayer();
      this.addGDACSFloodsLayerLayer();
      this.addDisasterMappingLayers();
      this.addPrecipitationLayer();
    },

    updateAdditionalLayersVisibility() {
      this.availableAdditionalLayers.forEach(layer => {
        this.$store.commit("map/setLayerVisibility", {
          layer: layer,
          isVisible: this.additionalLayers.includes(layer)
        });
      });
    },

    updateGDACSLayerVisible() {
      const gdacsLayerKeys = [
        ADDITIONAL_LAYERS.GDACS_ALL,
        ADDITIONAL_LAYERS.GDACS_CYCLONES,
        ADDITIONAL_LAYERS.GDACS_FLOODS
      ];

      const gdacsLayers = gdacsLayerKeys
        .map(key => ADDITIONAL_LAYERS_STYLES_ID[key])
        .map(styleId => this.map.getLayer(styleId))
        .filter(layer => layer !== undefined);

      this.gdacsLayerVisible = gdacsLayers.reduce(
        (accumulator, layer) =>
          accumulator || this.map.getLayoutProperty(layer.id, "visibility") === "visible",
        false
      );
    },

    createScaleControl() {
      return new maplibregl.ScaleControl({ maxWidth: 80, unit: "metric" });
    },

    createAttributionsControl(customAttributions) {
      return new maplibregl.AttributionControl({ customAttribution: customAttributions });
    }
  }
};
</script>
<style lang="less">
@import "../assets/less/_var.less";

@dim-pad: 2rem;

.Map {
  height: calc(100vh - @dim-topnavbar - @dim-navbar);

  .Map__loader {
    position: absolute;
    z-index: @z-loader;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: padding-bottom 0.15s ease-in-out;
    box-sizing: border-box;
  }
  &[data-choropleth-shown="true"] {
    .Map__loader {
      padding-bottom: @dim-choropleth;
    }
  }
}
.mapboxgl-map,
.maplibregl-map {
  font-family: @font-primary;
}
.Map__selector {
  position: absolute;
  z-index: @z-legend;
  left: 0;
  right: 0;
  margin-top: @dim-pad;
  margin-left: @dim-pad;
  margin-right: auto;
}
.Map__adminLevelPicker {
  z-index: @z-admin-level-picker;
  position: absolute !important;
  top: @dim-pad;
  right: @dim-pad;
}
.Map__selector {
  position: absolute;
  z-index: @z-legend;
  left: 0;
  right: 0;
  margin-top: @dim-pad;
  margin-left: @dim-pad;
  margin-right: auto;
}

.Map__navControl {
  position: absolute;
  z-index: @z-legend;
  margin-right: @dim-pad;
  top: 5.5rem;
  right: 0;
}

.mapboxgl-ctrl-top-right {
  z-index: @z-legend;
}
.Map[data-country-is-selected="true"] {
  .mapboxgl-ctrl-top-right {
    top: 3.5rem;
  }

  .Map__navControl {
    transform: translateY(3.5rem);
  }
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl.mapboxgl-ctrl-geocoder {
  margin-top: @dim-pad;
  margin-right: @dim-pad;
  height: 2.5rem;
  background-color: #fff;
  cursor: pointer;
  border: none;
  padding: 0px;
  transition-duration: 0.2s;
  width: 2.5rem;
  transition: width 0.15s ease-in;
  min-width: inherit;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  box-sizing: content-box;

  &:focus-within {
    width: 18rem;
    max-width: 100%;
  }

  &:not(:focus-within) {
    .mapboxgl-ctrl-geocoder--icon-close {
      display: none;
    }
  }

  .mapboxgl-ctrl-geocoder--input {
    height: 100% !important;
    padding: 6px 41px;
    outline: none;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    height: 100%;
    transform: scale(1.2);
    margin: 0 0.6rem;
    left: 0;
    top: 0;
    z-index: -1;
    fill: @color-primary--dark;
  }
}

@media (max-width: @bp-m) {
  .Map__selector {
    right: inherit;
    margin-left: @dim-pad;
    margin-right: @dim-pad;
  }
}
</style>
