<template>
  <div class="More">
    <div class="More__credits">
      {{ $t("more.credits") }}
    </div>
    <div class="More__separator" />
    <div class="More__credits More__content ctn">
      <div class="More__contentItem">
        <img class="More__contentIcon" src="https://hi.org/sn_uploads/fck/SYMBOLE_HI.png" />
        <div class="More__contentDescr">
          {{ $t("more.desc") }}
        </div>
        <a href="https://hi.org/fr/nos-combats" target="_blank" class="More__contentLink">
          <ArrowButton :title="$t('more.more')" />
        </a>
      </div>
      <div class="More__contentItem More_buttons">
        <div class="More_buttonsBlock">
          <a class="Footer_leftItem" :href="$t('links.tendersURL')" target="_blank">{{
            $t("links.tenders")
          }}</a>
          <a class="Footer_leftItem" :href="$t('links.legalURL')" target="_blank">{{
            $t("links.legal")
          }}</a>
        </div>
        <div class="More_buttonsBlock">
          <a :href="$t('links.giveURL')" target="_blank">{{ $t("links.give") }}</a>
          <a :href="$t('links.jobURL')" target="_blank">{{ $t("links.job") }}</a>
          <a :href="$t('links.alertURL')" target="_blank">{{ $t("links.alert") }}</a>
        </div>
        <div class="More_buttonsBlock">
          <div>{{ $t("more.social") }}</div>
          <div class="More_socialNetworks">
            <a href="https://www.facebook.com/HI.global.page/" target="_blank" title="Facebook">
              <span class="fa fa-facebook-f" aria-hidden="true"></span>
            </a>
            <a href="https://twitter.com/HI_Advocacy" target="_blank" title="Twitter">
              <span class="fa fa-twitter" aria-hidden="true"></span>
            </a>

            <a
              href="https://fr.linkedin.com/company/handicapinternational"
              target="_blank"
              title="LinkedIn"
            >
              <span class="fa fa-linkedin" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="More_buttonsBlock"></div>
      </div>
    </div>
  </div>
</template>

<script>
import ArrowButton from "@/components/ArrowButton.vue";
export default {
  name: "Contact",
  components: {
    ArrowButton
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.More {
  background: @color-primary;
  color: @color-primary-complementary;

  .More__credits {
    padding: 1.5rem 2.5rem;

    &:not(.More__content) {
      text-align: center;
      border-bottom: solid 1px fade(@color-primary--dark, 40%);
    }
  }
  .More__content {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 5rem;
    margin-top: 0;
    margin-bottom: 0;

    .More__contentItem {
      width: 50%;
      padding: 5rem 5rem 4rem 5rem;
      display: grid;
      grid-template-rows: auto 50px;
      grid-template-columns: 1 auto;
      grid-gap: 25px;

      &:first-child {
        border-right: solid 1px fade(@color-primary--dark, 40%);
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      .More__contentIcon {
        grid-column: 1;
        grid-row: 1;
        width: 76px;
        height: 100px;
      }
      .More__contentDescr {
        grid-column: 2;
        grid-row: 1;
      }
      .More__contentLink {
        grid-column: 2;
        grid-row: 2;
        color: @color-primary-complementary;
        text-decoration: none;
        transform: scale(1.1);
        transform-origin: left;
        font-weight: bold;
      }
    }
    .More_buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .More_buttonsBlock {
        display: flex;
        flex-flow: column nowrap;
        a {
          text-decoration: none;
          color: @color-primary-complementary;
        }
        a:hover {
          text-decoration: underline;
          color: @color-primary-complementary;
        }

        .More_socialNetworks {
          display: flex;
          flex-flow: row nowrap;
          column-gap: 1em;
          padding: 1rem 0.5rem;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
</style>
