<template>
  <div class="Nav">
    <nav class="Nav__container">
      <div class="Nav__menu">
        <a href="#map" class="active">{{ $t("nav.map") }}</a>
        <a href="#catalog">{{ $t("nav.catalog") }}</a>
        <a href="#about">{{ $t("nav.about") }}</a>
        <a href="#usefulness">{{ $t("nav.usefulness") }}</a>
        <a href="#partners">{{ $t("nav.partners") }}</a>
        <a href="#contact">{{ $t("nav.contact") }}</a>
      </div>
      <a class="Nav__suggestionAction" :href="mailtoLink">
        <img :src="require('@/assets/icons/mail.svg')" alt="" />
        {{ $t("nav.suggestion") }}
      </a>
    </nav>
    <div class="ScrollIndicator__container">
      <div class="ScrollIndicator__bar" id="ScrollIndicator__bar"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Nav",
  computed: {
    mailtoLink: function () {
      return `mailto:${this.$config.focalEmail}?subject=Signal suggestion&body=Hello,%0D%0AI would like to make a suggestion...`;
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

html,
#app {
  scroll-behavior: smooth;
}

.Nav {
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-between;
  position: sticky;
  top: @dim-topnavbar;
  z-index: @z-nav;
  background: white;
  height: @dim-navbar;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  .ScrollIndicator__container {
    width: 100%;
    height: 5px;
    background: none;
    .ScrollIndicator__bar {
      height: 5px;
      background: #0077c8;
      width: 0%;
    }
  }
  .Nav__container {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .Nav__menu {
      display: flex;
      align-items: center;

      a {
        color: @color-secondary;
        padding: 1rem;
        text-decoration: none;
        box-sizing: border-box;
        transition: border-color 0.1s linear;
        border-bottom: solid 4px;
        border-color: transparent;
        text-shadow: none;

        &:hover,
        &.active {
          text-shadow: 0.5px 0 0px currentColor; // To prevent layout shifting
        }
      }
    }
    .Nav__suggestionAction {
      background: @color-primary;
      color: #fff;
      border: none;
      padding: 0 1rem;
      font-weight: 700;
      font-family: @font-primary;
      font-size: 1em;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s linear;

      &:hover {
        background: darken(@color-primary, 10%);
      }

      img {
        margin: 0 0.75rem 0 0.5rem;
        max-height: 0.75rem;
      }
    }
  }
}
</style>
