<template>
  <div class="Partners ctn">
    <h2>{{ $t("nav.partners") }}</h2>
    <div class="Partners__logos">
      <a :href="partner.url" v-for="(partner, id) in partners" :key="id" target="_blank">
        <img :src="require('@/assets/imgs/logos/partners/' + partner.logo)" :alt="partner.name" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      partners: [
        {
          name: "WHU",
          logo: "whu.svg",
          url: "https://www.whu.edu"
        },
        {
          name: "GFFO",
          logo: "gffo.png",
          url: "https://www.auswaertiges-amt.de/en/"
        },
        {
          name: "IPSEN",
          logo: "ipsen.svg",
          url: "https://www.fondation-ipsen.org"
        },
        {
          name: "INSA",
          logo: "insa.png",
          url: "https://www.groupe-insa.fr/"
        },
        {
          name: "Office of Foreign Disaster Assistance (OFDA)",
          logo: "usaid.png",
          url: "https://www.usaid.gov/who-we-are/organization/bureaus/bureau-democracy-conflict-and-humanitarian-assistance/office-us"
        },
        {
          name: "Le Centre de crise et d'appui du ministère français des Affaires étrangères (CDCS)",
          logo: "cdcs.png",
          url: "https://www.diplomatie.gouv.fr/fr/le-ministere-et-son-reseau/le-centre-de-crise-et-de-soutien/"
        },
        {
          name: "Le ministère luxembourgeois des Affaires étrangères",
          logo: "ministere-affaires-etrangeres-lux.png",
          url: "https://maee.gouvernement.lu/fr.html"
        }
      ]
    };
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.Partners {
  background: @color-primary-complementary;
  color: @color-primary;
  display: flex;
  flex-flow: column wrap;

  h2 {
    flex: 1 0 45%;
    font-family: @font-title;
    font-weight: 300;
    line-height: 1;
  }

  .Partners__logos {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 55%;
    justify-content: flex-start;
    align-items: center;

    img {
      max-height: 6em;
      max-width: 16rem;
      margin: 1rem 2rem 1rem 0;
      min-width: 7rem;
    }
  }
}
</style>
