<template>
  <div class="InfoCtn InfoCtn--usefulness">
    <div class="InfoCtn__ctn ctn">
      <h2>{{ $t("nav.usefulness") }}</h2>
      <span v-html="$t('usefulness.content')"></span>
    </div>
    <div class="InfoCtn__img" data-copyright="© HI Togo"></div>
  </div>
</template>

<script>
export default {
  name: "Usefulness"
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.InfoCtn--usefulness {
  background: @color-primary--light;
  color: @color-primary--dark;

  .InfoCtn__img {
    background: url(../assets/imgs/about_photo_togo.jpg) no-repeat center right / cover;
  }

  h2 {
    color: @color-primary;
  }
}
</style>
