<template>
  <nav
    class="AdminLevelPicker"
    v-if="countryDataIsDefined && hasCurrentCountry"
    :tooltip="$t('tooltip.selectAgg')"
    tooltip-x="left"
  >
    <div
      class="AdminLevelPicker__item"
      v-for="adminLevel in adminLevels"
      :key="adminLevel.level"
      :data-selected="isSelected(adminLevel.level)"
      :data-disabled="!isEnabled(adminLevel.level)"
    >
      <input
        @click="updateCurrentAdminLevel(adminLevel.level)"
        checked
        name="adminLevel"
        :disabled="!isEnabled(adminLevel.level)"
        type="radio"
        :id="adminLevel"
      />
      <label :for="adminLevel.level" @click="updateCurrentAdminLevel(adminLevel.level)">
        <div class="Label">
          {{ $t(adminLevel.name) }}
        </div>
      </label>
    </div>
  </nav>
</template>

<script>
import { ADMIN_LEVEL } from "@/domain/lvi/admins";

export default {
  name: "AdminLevelPicker",
  data: () => ({
    adminLevels: [
      {
        name: "adminLevelPicker.admin1",
        level: ADMIN_LEVEL.ADMIN_1
      },
      {
        name: "adminLevelPicker.admin2",
        level: ADMIN_LEVEL.ADMIN_2
      },
      {
        name: "adminLevelPicker.admin3",
        level: ADMIN_LEVEL.ADMIN_3
      }
    ]
  }),
  computed: {
    hasCurrentCountry: function () {
      return this.$store.getters["selection/hasCurrentCountry"];
    },
    currentCountry: function () {
      return this.$store.getters["selection/getCurrentCountry"];
    },
    countryDataIsDefined: function () {
      return this.$store.getters["selection/hasCurrentCountryLviData"];
    }
  },
  methods: {
    isEnabled(adminLevel) {
      return this.$store.getters["selection/hasLviDataForAdminLevel"](adminLevel);
    },
    isSelected(adminLevel) {
      return this.$store.getters["selection/getCurrentAdminLevel"] === adminLevel;
    },
    updateCurrentAdminLevel(adminLevel) {
      this.$store.commit("selection/setCurrentAdminLevel", adminLevel);
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.AdminLevelPicker {
  @rad-box: 3px;

  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
  color: #fff;
  border-radius: @rad-box;

  .AdminLevelPicker__item {
    background: #fff;
    height: 2.5rem;
    flex: 1 0 auto;
    border: solid 1px #c9c9c9;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    @border-w: 0.75px;

    label {
      height: 100%;
      color: @color-primary--dark;
      font-size: 1.25em;
      padding: 0.5rem 1.5rem;
      font-weight: 700;
      user-select: none;
    }

    &:nth-child(1) {
      border-radius: @rad-box 0 0 @rad-box;
      border-right-width: @border-w;
    }
    &:nth-child(2) {
      border-radius: 0 0 0 0;
      border-left-width: @border-w;
      border-right-width: @border-w;
    }
    &:nth-child(3) {
      border-radius: 0 @rad-box @rad-box 0;
      border-left-width: @border-w;
    }

    &[data-selected] {
      background: @color-primary--dark;
      border-color: @color-primary--dark;

      .Label {
        color: white !important;
      }
    }

    &[data-disabled] {
      pointer-events: none;
      background: white;
      border-color: fade(@color-primary--dark, 30%);

      .Label {
        color: @color-primary--dark !important;
        opacity: 0.35;
      }
    }

    input[type="radio"]:first-child + label {
      border-radius: 3px 3px 0 0;
    }

    label:last-child {
      border-radius: 0 0 3px 3px;
      border: none;
    }

    input[type="radio"] {
      display: none;

      & + label {
        display: flex;
        flex-flow: row nowrap;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;

        > .Label {
          text-transform: capitalize;
          color: #333;
          font-size: 1em;
          font-family: @font-primary;
          flex: 1 0 auto;
          display: inline-block;
        }
      }
    }
    * {
      transition: all 0.12s ease-in;
    }
    input[type="checkbox"]:checked + label {
      .Label {
        color: #333;
      }
    }
  }
}
</style>
