<template>
  <div class="ArrowButton" @click="clickEvent">
    <div class="ArrowButton__ctn">
      <div class="ArrowButton__arrowCtn">
        <img :src="require('@/assets/icons/arrow_big-white.svg')" />
      </div>
      <span class="ArrowButton__title">{{ title }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "ArrowButton",
  props: {
    title: {
      type: String
    },
    color: {
      type: String,
      default: "#ffffff"
    }
  },
  methods: {
    clickEvent: function (e) {
      this.$emit("click", e);
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.ArrowButton {
  color: "#fff";
  cursor: pointer;
  .ArrowButton__ctn {
    min-width: 10rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .ArrowButton__title {
      text-transform: uppercase;
      margin-left: 1rem;
      color: "#fff";
    }

    .ArrowButton__arrowCtn {
      width: 20px;
      overflow: hidden;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      transition: all 0.15s ease-in;
    }
    img {
      max-height: 7px;
    }
  }
  &:hover {
    .ArrowButton__ctn {
      .ArrowButton__arrowCtn {
        width: 35px;
      }
    }
  }
}
</style>
