<template>
  <div class="CatalogFilter" v-if="tree">
    <div class="CatalogFilter__sectionHeader" @click="isExpanded = !isExpanded">
      <h5 class="CatalogFilter__sectionTitle">{{ tree.metadata.name[$i18n.locale] }}</h5>
      <button>{{ isExpanded ? "-" : "+" }}</button>
    </div>
    <div class="Catalog__filters" v-show="isExpanded">
      <CheckboxNode
        v-for="(node, index) in Object.keys(this.tree.childs).sort()"
        :key="index"
        :tree="tree.childs[node]"
      ></CheckboxNode>
    </div>
  </div>
</template>

<script>
import CheckboxNode from "@/components/CheckboxNode";

export default {
  name: "CatalogFilter",
  components: {
    CheckboxNode
  },
  props: {
    tree: {
      type: Object
    }
  },
  computed: {
    map: function () {
      return this.$store.state.catalog.map;
    },
    isExpanded: {
      get() {
        return this.map[this.tree.metadata.path].isExpanded;
      },
      set(isExpanded) {
        this.$store.commit("catalog/setExpanded", {
          path: this.tree.metadata.path,
          isExpanded: isExpanded
        });
      }
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.CatalogFilter {
  display: flex;
  flex-flow: column nowrap;
  user-select: none;

  &[disabled] {
    pointer-events: none;
    filter: grayscale(0.7);
  }

  .CatalogFilter__sectionHeader {
    padding: 0.6rem 0;
    border-bottom: solid 1px #c9c9c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .CatalogFilter__sectionTitle,
    button {
      font-size: 1.1em;
      color: @color-primary;
      margin: 0;
    }
    button {
      margin: 0 0.5rem;
      background: none;
      outline: none;
      border: none;
      font-size: 1.3em;
      cursor: pointer;
    }
  }

  .Catalog__filters {
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5rem 0;

    .Catalog__filter {
      display: flex;
      flex-flow: row nowrap;
      cursor: pointer;
    }
  }
}
</style>
