<template>
  <div class="CheckboxNode">
    <div class="CheckboxNode__ctn">
      <div class="CheckboxNode__header">
        <button
          :style="Object.keys(tree.childs).length === 0 ? 'visibility: hidden' : ''"
          @click="isExpanded = !isExpanded"
        >
          <img
            :src="require('@/assets/icons/deploy.svg')"
            alt="Deploy icon"
            :data-shown="isExpanded"
          />
        </button>
        <input
          type="checkbox"
          :name="tree.metadata.id"
          :id="tree.metadata.id"
          :checked="isSelected"
          v-model="isSelected"
        /><label :for="tree.metadata.id">{{ tree.metadata.name[$i18n.locale] }}</label>
      </div>
      <ul v-show="isExpanded" v-if="Object.keys(tree.childs).length">
        <CheckboxNode v-for="key in keys" :key="key" :tree="tree.childs[key]"></CheckboxNode>
      </ul>
    </div>
  </div>
</template>

<script>
import { GLOBAL_ADMIN_VALUE } from "@/domain/lvi/lviReadFiles";
export default {
  name: "CheckboxNode",
  props: {
    tree: {
      type: Object,
      required: true
    }
  },
  computed: {
    map: function () {
      return this.$store.state.catalog.map;
    },

    locale: {
      get() {
        return this.$i18n ? this.$i18n.locale : "en";
      }
    },

    keys: {
      get() {
        return Object.keys(this.tree.childs).sort((a, b) => {
          if (a === GLOBAL_ADMIN_VALUE) {
            return -1;
          } else if (b === GLOBAL_ADMIN_VALUE) {
            return 1;
          } else {
            return this.tree.childs[a].metadata.name[this.locale].localeCompare(
              this.tree.childs[b].metadata.name[this.locale]
            );
          }
        });
      }
    },
    isExpanded: {
      get() {
        return this.map[this.tree.metadata.path].isExpanded;
      },
      set(isExpanded) {
        this.$store.commit("catalog/setExpanded", {
          path: this.tree.metadata.path,
          isExpanded: isExpanded
        });
      }
    },
    isSelected: {
      get() {
        return this.map[this.tree.metadata.path].isSelected;
      },
      set(isSelected) {
        this.$store.commit("catalog/setSelected", {
          path: this.tree.metadata.path,
          isSelected: isSelected
        });
      }
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.CheckboxNode {
  .CheckboxNode__ctn {
    margin: 0.2rem 0;
    .CheckboxNode__header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      button {
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 0.5rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          padding: 0.5rem;
        }

        img {
          max-height: 80%;
          transition: transform 0.15s ease-in;

          &[data-shown="true"] {
            transform: rotate(180deg);
          }
        }
      }
      input[type="checkbox"] {
        cursor: pointer;
      }
      label {
        font-size: 1em;
        color: @color-primary--dark;
        font-weight: 400;
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
    ul {
      margin: 0.2rem 0;
      font-size: 0.9rem;
      opacity: 0.9;
      padding: 0 0 0 1.5rem;
    }
  }
}
</style>
