<template>
  <div class="ChoroplethOthersButton" :data-active-source="isActive">
    <div class="ChoroplethOthersButton__header">
      <div class="ChoroplethOthersButton__headerTitle">
        {{ title }}
      </div>
      <button v-if="hasInfo" class="ChoroplethOthersButton__info" @click="$emit('info')">
        {{ $t("chorop.info") }} <span>?</span>
      </button>
      <div class="ChoroplethOthersButton__headerToolbar"><slot name="toolbar"></slot></div>
    </div>
    <img class="ChoroplethOthersButton__buttonSvg" :src="icon" />
    <div class="Switch" :data="isActive">
      <input
        type="checkbox"
        :id="name"
        :name="name"
        @change="$emit('change')"
        :checked="isActive"
      />
      <label :for="name"></label>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChoroplethOthersButton",
  props: {
    icon: {
      type: String
    },
    isActive: {
      type: Boolean
    },
    title: {
      type: String
    },
    name: {
      type: String
    },
    hasInfo: {
      type: Boolean
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

@opacity-not-active: 0.45;

.ChoroplethOthersButton {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: relative;

  .ChoroplethOthersButton__header,
  .ChoroplethOthersButton__buttonSvg {
    opacity: @opacity-not-active;
    transition: opacity 0.15s ease-in;
  }

  .ChoroplethOthersButton__header {
    height: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    .ChoroplethOthersButton__headerTitle {
      font-weight: 700;
      font-size: 1.2em;
    }
    .ChoroplethOthersButton__info {
      font-size: 1.1em;
      z-index: 2;
      position: relative;
      background: none;
      border: none;
      cursor: pointer;
      color: #fff;
      font-family: @font-primary;
      display: inline-block;
      padding: 0;
      opacity: 0.7;
      transition: opacity 0.15s ease-in;
      display: inline-flex;
      align-items: center;
      gap: 0.35rem;

      span {
        @dim-info-icon: 0.7rem;
        font-size: 0.65em;
        width: @dim-info-icon;
        height: @dim-info-icon;
        background: white;
        color: @color-primary--dark;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        opacity: 1;
      }
    }
    .ChoroplethOthersButton__headerToolbar {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      column-gap: 0.2rem;
      z-index: 2;
    }
  }
  .ChoroplethOthersButton__buttonSvg {
    align-self: self-start;
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 0.5rem;
  }

  &[data-active-source="true"] {
    .ChoroplethOthersButton__header,
    .ChoroplethOthersButton__buttonSvg,
    .Switch {
      opacity: 1;
    }
  }
}
</style>
