<template>
  <div class="ChoroplethIndicators" v-if="indicators != null" v-dragscroll.x="true">
    <div
      class="Heatmap"
      v-for="indicator in indicators"
      :key="indicator.id"
      :data-active-source="currentIndicator.id === indicator.id || currentIndicatorIsMain"
    >
      <div class="Heatmap__infoCtn" :data-indicator="indicator.id">
        <div class="Heatmap__title" :alt="indicator.description.label[locale]">
          {{ truncateLabel(indicator.description.label[locale]) }}
        </div>
        <button class="Heatmap__info" @click="showInfoPopup(indicator)">
          {{ $t("chorop.info") }} <span>?</span>
        </button>
      </div>
      <div class="Heatmap__svg" v-html="indicator.heatmap" />
      <span
        class="Heatmap__completenessLevel"
        v-if="completenessLevel(indicator)"
        :tooltip="$t('tooltip.completenessTooltip')"
        tooltip-x="right"
        tooltip-y="bottom"
      >
        {{ completenessLevel(indicator) }}
      </span>
      <div class="Switch" :data="currentIndicator.id === indicator.id">
        <input
          type="checkbox"
          :id="indicator.id + 'check'"
          :name="indicator.id + 'check'"
          @change="setCurrentIndicator(indicator)"
          :checked="currentIndicator.id === indicator.id"
        />
        <label :for="indicator.id + 'check'"></label>
      </div>
    </div>
  </div>
</template>

<script>
import * as d3 from "d3";
import { dragscroll } from "vue-dragscroll";
import MapService from "@/services/MapService";
import Choropleth from "@/services/d3/choropleth";

import { isMainIndicator } from "@/domain/lvi/lviIndicators";

export default {
  name: "ChoroplethIndicators",
  directives: {
    dragscroll: dragscroll
  },
  data() {
    return {
      svgs: []
    };
  },
  computed: {
    currentCountry: function () {
      return this.$store.getters["selection/getCurrentCountry"];
    },
    currentIndicator: function () {
      return this.$store.getters["selection/getCurrentIndicator"];
    },
    currentIndicatorIsMain: function () {
      return isMainIndicator(this.currentIndicator);
    },
    choroplethShown: function () {
      return this.$store.state.ui.choroplethShown;
    },
    indicators: function () {
      return this.$store.getters["selection/getCurrentIndicators"];
    },
    activeGeo: function () {
      return this.$store.getters["map/activeGeo"];
    },
    locale: function () {
      return this.$i18n.locale;
    }
  },
  watch: {
    "$store.state.map.featuresHaveChanged": function () {
      if (
        this.$store.getters["map/activeGeo"].features[
          this.$store.getters["selection/getCurrentAdminLevel"]
        ] != null
      ) {
        this.setChoroplethSvgs();
      } else {
        this.$store.commit("ui/updateChoroplethShown", false);
      }
    }
  },
  methods: {
    completenessLevel: function (indicator) {
      const completeness = this.$store.getters["selection/getIndicatorCompleteness"](indicator);
      if (!completeness) {
        return null;
      }
      return completeness.completeness_level;
    },
    setCurrentIndicator: function (indicator) {
      this.$store.commit("selection/setCurrentIndicator", indicator);
    },
    showInfoPopup: function (indicator) {
      this.$store.commit("ui/updateInfoPopupIndicator", indicator);
    },
    truncateLabel: function (label) {
      const CHAR_NB = 40;
      return label.length > CHAR_NB ? `${label.substring(0, CHAR_NB)}...` : label;
    },
    setChoroplethSvgs: function () {
      this.svgs = [];

      const features = MapService.getCurrentSourceFeatures(false);
      const data = this.$store.getters["selection/getCurrentAdminLevelLviData"];
      const pCodeID = MapService.getIdBasedOnActiveAdminLevel().toLowerCase();
      this.$store.state.map.map.once("idle", () => {
        this.indicators.forEach(indicator => {
          const scheme = indicator.description.group.scheme;
          // (cf : Doc https://observablehq.com/@d3/choropleth?collection=@d3/d3-geo)
          const chart = Choropleth(data, {
            id: d => d[pCodeID],
            value: d => (d[indicator.dataId] !== undefined ? d[indicator.dataId] : undefined),
            scale: d3.scaleQuantize,
            domain: [0, 1],
            projection: d3.geoIdentity().reflectY(true).fitSize([500, 300], features),
            range: scheme,
            // title: (f, d) => `${f.properties.name}, ${statemap.get(f.id.slice(0, 2)).properties.name}\n${d?.rate}%`,
            features: features,
            featureId: f => f.properties.id,
            width: 500,
            height: 300
          });

          indicator.heatmap = new XMLSerializer().serializeToString(chart);
        });
      });
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

@color-choropleth: #fff;
@transition-duration: 0.3s;
@pad: 1.75rem;

.ChoroplethIndicators {
  padding: @pad 0 0 @pad;
  display: flex;
  align-items: center;
  max-width: calc(100% - 16rem);
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  @color-scroll: #e0e0e0;
  @color-scroll-bg: fade(white, 10%);

  scrollbar-color: @color-scroll @color-scroll-bg;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: @color-scroll-bg;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-clip: content-box;
    background-color: @color-scroll;
  }

  padding-right: @pad;

  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: grab;

  &:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: grabbing;
  }
  @opacity-not-active: 0.45;
  .Heatmap {
    height: 100%;
    min-width: 12rem;
    width: 12rem;
    max-height: 100%;
    // scroll-snap-align: start; // Vue-draggable broken by scroll-snap property, to be fixed.
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-right: 2rem;
    position: relative;

    .Heatmap__infoCtn,
    .Heatmap__svg,
    .Heatmap__completenessLevel {
      opacity: @opacity-not-active;
      transition: opacity 0.15s ease-in;
    }
    .Heatmap__completenessLevel {
      pointer-events: none;
    }
    .Switch {
      opacity: 0.7;
      transition: opacity 0.15s ease-in;
    }

    &[data-active-source="true"] {
      .Heatmap__infoCtn,
      .Heatmap__svg,
      .Switch,
      .Heatmap__completenessLevel {
        opacity: 1;
      }
      .Heatmap__completenessLevel {
        pointer-events: all;
      }
    }

    .Heatmap__infoCtn {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      .Heatmap__title {
        font-weight: 700;
        font-size: 1.2em;
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
      .Heatmap__info {
        font-size: 1.1em;
        z-index: 2;
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        color: #fff;
        font-family: @font-primary;
        display: inline-block;
        padding: 0;
        opacity: 0.7;
        transition: opacity 0.15s ease-in;
        display: inline-flex;
        align-items: center;
        gap: 0.35rem;

        span {
          @dim-info-icon: 0.7rem;
          font-size: 0.65em;
          width: @dim-info-icon;
          height: @dim-info-icon;
          background: white;
          color: @color-primary--dark;
          border-radius: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
    .Heatmap__svg {
      max-height: 100%;
      flex: 1 0 auto;
      display: flex;
      align-items: flex-end;
      top: -2rem;
      position: relative;
    }
  }
}

@bottom: 0.5rem;
.Heatmap__completenessLevel {
  position: absolute !important;
  left: 0;
  bottom: @bottom;
  margin-bottom: 0.125rem;
  z-index: 2;

  &:hover {
    z-index: 3;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  line-height: 0;
  padding: 0 0.25rem;
  // margin-top: 2px;
  @size: 14px;
  min-width: @size;
  height: @size;
  min-height: @size;
  // border-radius: @size / 2;
  border-radius: 3px;
  border: solid 1px fade(@color-choropleth, 50%);
  color: @color-choropleth;
}

.Switch {
  position: absolute;
  bottom: @bottom;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  &[data="true"] label::after {
    opacity: 1;
  }

  @dim-scale: 0.6;

  label {
    @space-switch: 0rem;
    margin-right: @space-switch;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;

    &::after {
      content: "";
      width: 40px;
      height: 20px;
      border-radius: 10px;
      // background: grey;
      background: white;
      position: absolute;
      right: calc(5px - @space-switch);
      cursor: pointer;
      transition: all 0.2s ease-in;
      bottom: 0;
      transform: scale(@dim-scale + 0.08);
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 50%;
      background: @color-primary--dark;
      box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease-in;
      @dim-offset: 17px;
      right: calc(@dim-offset - @space-switch);
      z-index: 1;
      cursor: pointer;
      box-sizing: border-box;
      bottom: 0;
      transform: translateX(-5px) scale(@dim-scale);
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;

    &:checked ~ label {
      &::before {
        transform: translateX(8px) scale(@dim-scale);
      }
      &::after {
        background: white;
      }
    }
  }
}
</style>
