<template>
  <div class="ChoroplethOthers">
    <ChoroplethOthersButton
      class="ChoroplethOthers__button"
      :icon="require('@/assets/icons/documents.svg')"
      :isActive="isDocumentsActive"
      :title="$t('chorop.documents')"
      name="documents"
      :hasInfo="isDocumentIndicatorAvailable"
      @change="toggleDocuments()"
      @info="showDocumentsInfoPopup"
    />
    <ChoroplethOthersButton
      class="ChoroplethOthers__button"
      :icon="require('@/assets/icons/demography.svg')"
      :isActive="isDemographyActive"
      :title="$t('chorop.demography')"
      name="demography"
      :hasInfo="isDemographyIndicatorAvailable"
      @change="toggleDemography()"
      @info="showDemographyInfoPopup"
    />
    <ChoroplethOthersButton
      class="ChoroplethOthers__button"
      :icon="require('@/assets/icons/precipitation.svg')"
      :isActive="isPrecipitationActive"
      :title="$t('chorop.precipitation')"
      name="precipitation"
      :hasInfo="isPrecipitationIndicatorAvailable"
      @change="togglePrecipitation"
      @info="showPrecipitationInfoPopup"
    />
    <ChoroplethOthersButton
      class="ChoroplethOthers__button"
      :icon="require('@/assets/icons/gdacs_all_events.svg')"
      :isActive="isGDACSAllActive"
      :title="$t('chorop.gdacs-all')"
      name="gdacs-all"
      :hasInfo="isGDACSEventsIndicatorAvailable"
      @change="toggleGDACSAll()"
      @change.once="loadGDACSEvents()"
      @info="showGDACSAllInfoPopup"
    >
      <template #toolbar>
        <select @change.prevent.stop="updateGDACSEventLoadingInterval">
          <option value="24-hours">{{ $t("chorop.last-24-hours") }}</option>
          <option value="7-days" selected="selected">{{ $t("chorop.last-7-days") }}</option>
        </select>
      </template>
    </ChoroplethOthersButton>
    <ChoroplethOthersButton
      class="ChoroplethOthers__button"
      :icon="require('@/assets/icons/gdacs_cyclones.svg')"
      :isActive="isGDACSCyclonesActive"
      :title="$t('chorop.gdacs-cyclones')"
      name="gdacs-cyclones"
      :hasInfo="isGDACSCyclonesIndicatorAvailable"
      @change="toggleGDACSCyclones()"
      @change.once="loadGDACSCyclones()"
      @info="showGDACSCyclonesInfoPopup"
    >
      <template #toolbar>
        <select @change.prevent.stop="updateGDACSCyclonesLoadingInterval">
          <option value="24-hours">{{ $t("chorop.last-24-hours") }}</option>
          <option value="3-months" selected="selected">{{ $t("chorop.last-3-months") }}</option>
        </select>
      </template>
    </ChoroplethOthersButton>
    <ChoroplethOthersButton
      class="ChoroplethOthers__button"
      :icon="require('@/assets/icons/gdacs_floods.svg')"
      :isActive="isGDACSFloodsActive"
      :title="$t('chorop.gdacs-floods')"
      name="gdacs-floods"
      :hasInfo="isGDACSFloodsIndicatorAvailable"
      @change="toggleGDACSFloods()"
      @change.once="loadGDACSFloods()"
      @info="showGDACSFloodsInfoPopup"
    >
      <template #toolbar>
        <select @change.prevent.stop="updateGDACSFloodsLoadingInterval">
          <option value="24-hours">{{ $t("chorop.last-24-hours") }}</option>
          <option value="3-months" selected="selected">{{ $t("chorop.last-3-months") }}</option>
        </select>
      </template>
    </ChoroplethOthersButton>
    <ChoroplethOthersButton
      class="ChoroplethOthers__button"
      :icon="require('@/assets/icons/disaster_mapping.svg')"
      :isActive="isDisasterMappingActive"
      :title="$t('chorop.disaster-mapping')"
      name="disaster-mapping'"
      :hasInfo="isDisasterMappingIndicatorAvailable"
      @change="toggleDisasterMapping"
      @change.once="loadDisasterMappingData()"
      @info="showDisasterMappingInfoPopup"
    />
  </div>
</template>

<script>
import { ADDITIONAL_LAYERS, ADDITIONAL_LAYERS_INDICATORS_ID } from "@/domain/map/additionalLayers";
import ChoroplethOthersButton from "./ChoroplethOthersButton.vue";

export default {
  name: "ChoroplethOthers",
  components: {
    ChoroplethOthersButton
  },
  data() {
    return {
      forcePropertyRecompute: 1
    };
  },
  computed: {
    isDemographyActive: function () {
      this.forcePropertyRecompute;
      return this.isLayerActive(ADDITIONAL_LAYERS.DEMOGRAPHY);
    },
    isDocumentsActive: function () {
      this.forcePropertyRecompute;
      return this.isLayerActive(ADDITIONAL_LAYERS.DOCUMENTS);
    },
    isPrecipitationActive: function () {
      this.forcePropertyRecompute;
      return this.isLayerActive(ADDITIONAL_LAYERS.PRECIPITATION);
    },
    isDisasterMappingActive: function () {
      this.forcePropertyRecompute;
      return this.areLayersActive([
        ADDITIONAL_LAYERS.DISASTER_MAPPING_FILL,
        ADDITIONAL_LAYERS.DISASTER_MAPPING_LINE
      ]);
    },
    isGDACSAllActive: function () {
      this.forcePropertyRecompute;
      return this.isLayerActive(ADDITIONAL_LAYERS.GDACS_ALL);
    },
    isGDACSCyclonesActive: function () {
      this.forcePropertyRecompute;
      return this.isLayerActive(ADDITIONAL_LAYERS.GDACS_CYCLONES);
    },
    isGDACSFloodsActive: function () {
      this.forcePropertyRecompute;
      return this.isLayerActive(ADDITIONAL_LAYERS.GDACS_FLOODS);
    },
    currentCountry: function () {
      return this.$store.getters["selection/getCurrentCountry"];
    },
    isDocumentIndicatorAvailable() {
      return this.isIndicatorAvailable(ADDITIONAL_LAYERS.DOCUMENTS);
    },
    isDemographyIndicatorAvailable() {
      return this.isIndicatorAvailable(ADDITIONAL_LAYERS.DEMOGRAPHY);
    },
    isPrecipitationIndicatorAvailable() {
      return this.isIndicatorAvailable(ADDITIONAL_LAYERS.PRECIPITATION);
    },
    isDisasterMappingIndicatorAvailable() {
      return this.isIndicatorAvailable(ADDITIONAL_LAYERS.DISASTER_MAPPING_FILL);
    },
    isGDACSEventsIndicatorAvailable() {
      return this.isIndicatorAvailable(ADDITIONAL_LAYERS.GDACS_ALL);
    },
    isGDACSCyclonesIndicatorAvailable() {
      return this.isIndicatorAvailable(ADDITIONAL_LAYERS.GDACS_CYCLONES);
    },
    isGDACSFloodsIndicatorAvailable() {
      return this.isIndicatorAvailable(ADDITIONAL_LAYERS.GDACS_FLOODS);
    }
  },

  methods: {
    isLayerActive(layer) {
      return this.$store.getters["map/isLayerVisible"](layer);
    },
    areLayersActive(layers) {
      return layers.reduce((accumulator, layer) => accumulator && this.isLayerActive(layer), true);
    },
    toggleLayer(layer) {
      this.forcePropertyRecompute++;
      this.$store.commit("map/setLayerVisibility", {
        layer,
        isVisible: !this.isLayerActive(layer)
      });
    },
    isIndicatorAvailable(layer) {
      const layerIndicator = ADDITIONAL_LAYERS_INDICATORS_ID[layer];
      return this.currentCountry.otherIndicatorsById[layerIndicator] !== undefined;
    },
    showInfoPopup: function (layer) {
      if (this.isIndicatorAvailable(layer)) {
        const indicatorId = ADDITIONAL_LAYERS_INDICATORS_ID[layer];
        this.$store.commit(
          "ui/updateInfoPopupIndicator",
          this.currentCountry.otherIndicatorsById[indicatorId]
        );
      }
    },
    toggleDemography: function () {
      this.toggleLayer(ADDITIONAL_LAYERS.DEMOGRAPHY);
    },
    toggleDocuments: function () {
      this.toggleLayer(ADDITIONAL_LAYERS.DOCUMENTS);
    },
    togglePrecipitation: function () {
      this.toggleLayer(ADDITIONAL_LAYERS.PRECIPITATION);
    },
    toggleDisasterMapping: function () {
      this.toggleLayer(ADDITIONAL_LAYERS.DISASTER_MAPPING_FILL);
      this.toggleLayer(ADDITIONAL_LAYERS.DISASTER_MAPPING_LINE);
    },
    toggleGDACSAll: function () {
      this.toggleLayer(ADDITIONAL_LAYERS.GDACS_ALL);
    },
    toggleGDACSCyclones: function () {
      this.toggleLayer(ADDITIONAL_LAYERS.GDACS_CYCLONES);
    },
    toggleGDACSFloods: function () {
      this.toggleLayer(ADDITIONAL_LAYERS.GDACS_FLOODS);
    },
    loadDisasterMappingData() {
      this.$store.commit("map/loadDisasterMappingFeatureCollection");
    },
    loadGDACSEvents: function () {
      this.$store.commit("map/loadGDACSEventFeatureCollection");
    },
    loadGDACSCyclones: function () {
      this.$store.commit("map/loadGDACSCycloneFeatureCollection");
    },
    loadGDACSFloods: function () {
      this.$store.commit("map/loadGDACSFloodFeatureCollection");
    },
    updateGDACSEventLoadingInterval: function (event) {
      const payload = event.target.value === "24-hours";
      this.$store.commit("map/loadGDACSEventFor24HoursOnly", payload);
    },
    updateGDACSCyclonesLoadingInterval: function (event) {
      const payload = event.target.value === "24-hours";
      this.$store.commit("map/loadGDACSCyclonesFor24HoursOnly", payload);
    },
    updateGDACSFloodsLoadingInterval: function (event) {
      const payload = event.target.value === "24-hours";
      this.$store.commit("map/loadGDACSFloodsFor24HoursOnly", payload);
    },
    showDocumentsInfoPopup: function () {
      this.showInfoPopup(ADDITIONAL_LAYERS.DOCUMENTS);
    },
    showDemographyInfoPopup: function () {
      this.showInfoPopup(ADDITIONAL_LAYERS.DEMOGRAPHY);
    },
    showPrecipitationInfoPopup: function () {
      this.showInfoPopup(ADDITIONAL_LAYERS.PRECIPITATION);
    },
    showDisasterMappingInfoPopup: function () {
      this.showInfoPopup(ADDITIONAL_LAYERS.DISASTER_MAPPING_FILL);
    },
    showGDACSAllInfoPopup: function () {
      this.showInfoPopup(ADDITIONAL_LAYERS.GDACS_ALL);
    },
    showGDACSCyclonesInfoPopup: function () {
      this.showInfoPopup(ADDITIONAL_LAYERS.GDACS_CYCLONES);
    },
    showGDACSFloodsInfoPopup: function () {
      this.showInfoPopup(ADDITIONAL_LAYERS.GDACS_FLOODS);
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

@color-others-button: #fff;
@opacity-not-active: 0.45;
@bottom: 0.5rem;
@pad: 1rem;

.ChoroplethOthers {
  padding: @pad 0 0 @pad;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  column-gap: @pad;
}
</style>
