<template>
  <div :class="'Choropleth' + (choroplethShown ? ' Choropleth--active' : '')">
    <span class="Choropleth__btnDeploy" @click="show()">
      {{ $t("chorop.show") }}
    </span>
    <button class="Choropleth__close" @click="close()">
      <img :src="require('@/assets/icons/close.svg')" class="Choropleth__closeIcon" />
    </button>
    <div class="Choropleth__menu">
      <h2 class="Choropleth__title">{{ currentCountry.name }}<br />{{ $t("chorop.title") }}</h2>
      <div class="Choropleth__buttons">
        <button
          :class="
            'Choropleth__button' +
            (currentDisplayStatus === DISPLAY_STATUS_TYPE().INDICATORS
              ? ' Choropleth__button--active'
              : '')
          "
          @click="setCurrentDisplayStatus(DISPLAY_STATUS_TYPE().INDICATORS)"
        >
          {{ $t("chorop.log") }}
        </button>
        <button
          :class="
            'Choropleth__button' +
            (currentDisplayStatus === DISPLAY_STATUS_TYPE().OTHERS
              ? ' Choropleth__button--active'
              : '')
          "
          @click="setCurrentDisplayStatus(DISPLAY_STATUS_TYPE().OTHERS)"
        >
          {{ $t("chorop.oth") }}
        </button>
      </div>
    </div>
    <ChoroplethIndicators
      class="Choropleth__heatmaps"
      v-if="currentDisplayStatus === DISPLAY_STATUS_TYPE().INDICATORS"
    />
    <ChoroplethOthers
      class="Choropleth__others"
      v-else-if="currentDisplayStatus === DISPLAY_STATUS_TYPE().OTHERS"
    />
  </div>
</template>

<script>
import ChoroplethIndicators from "@/components/ChoroplethIndicators.vue";
import ChoroplethOthers from "@/components/ChoroplethOthers.vue";

export default {
  name: "Choropleth",
  components: {
    ChoroplethIndicators,
    ChoroplethOthers
  },
  data() {
    return {
      currentDisplayStatus: this.DISPLAY_STATUS_TYPE().INDICATORS
    };
  },
  computed: {
    currentCountry: function () {
      return this.$store.getters["selection/getCurrentCountry"];
    },
    choroplethShown: function () {
      return this.$store.state.ui.choroplethShown;
    },
    locale: function () {
      return this.$i18n.locale;
    }
  },
  methods: {
    close: function () {
      this.$store.commit("ui/updateChoroplethShown", false);
    },
    show: function () {
      this.$store.commit("ui/updateChoroplethShown", true);
    },
    DISPLAY_STATUS_TYPE: function () {
      return {
        INDICATORS: "indicators",
        OTHERS: "others"
      };
    },
    setCurrentDisplayStatus: function (displayStatus) {
      this.currentDisplayStatus = displayStatus;
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

@color-choropleth: #fff;
@transition-duration: 0.3s;

.maplibregl-ctrl-bottom-left {
  padding: 0 0 0 0;
  transition: all @transition-duration ease-in-out;
  .Map[data-choropleth-shown="true"] & {
    padding: 0 0 @dim-choropleth 5rem;
  }
}

.Choropleth {
  @pad: 1.75rem;

  position: absolute;
  bottom: 0;
  z-index: @z-choropleth;
  display: flex;
  background: @color-primary--dark;
  color: @color-choropleth;
  width: 100%;
  max-width: 100%;
  height: @dim-choropleth;
  box-sizing: border-box;
  box-shadow: 0 -1rem 2rem -0.5rem rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translateY(100%);
  transition: all @transition-duration ease-in-out;

  .Choropleth__close {
    width: @close-size;
    height: @close-size;
    border-radius: 50%;
    background: @color-primary--dark;
    color: @color-choropleth;
    border: none;
    cursor: pointer;
    position: absolute;
    top: calc(-@close-size - @close-pad);
    left: @close-pad;
    box-shadow: 0 -0.25rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity @transition-duration ease-in;
    pointer-events: none;

    .Choropleth__closeIcon {
      transform: rotate(0);
      transition: all @transition-duration @transition-duration ease-in-out;
      display: inline-block;
      transform-origin: center center;
    }
  }

  .Choropleth__btnDeploy {
    background: @color-primary;
    color: white;
    font-size: 1em;
    position: absolute;
    margin: auto 0;
    bottom: 100%;
    text-transform: uppercase;
    padding: 0.5rem 2.5rem;
    border-radius: 5px 5px 0 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }

  &.Choropleth--active {
    opacity: 1;
    transform: translateY(0);

    .Choropleth__close {
      opacity: 1;
      pointer-events: inherit;

      .Choropleth__closeIcon {
        transform: rotate(1080deg);
        transition-delay: 0;
      }
    }

    .Choropleth__btnDeploy {
      opacity: 0;
      pointer-events: inherit;
    }
  }

  .Choropleth__menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 16rem;
    flex: 1 0 auto;
    padding: @pad;

    .Choropleth__title {
      font-family: @font-primary;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1em;
      margin: 0 0 1rem 0;
    }

    .Choropleth__buttons {
      width: 14rem;

      .Choropleth__button {
        background: none;
        border: solid 2px @color-choropleth;
        color: @color-choropleth;
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: @font-primary;
        padding: 0.25rem 1rem;
        transition: all 0.1s ease-in;
        min-width: 13rem;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        &--active,
        &:not(:disabled):hover {
          background: @color-choropleth;
          color: @color-primary--dark;
          cursor: pointer;
        }
      }
    }
  }
  .Choropleth__heatmaps {
    max-width: calc(100% - 16rem);
  }
}
</style>
