<template>
  <div class="Selector">
    <div class="Selector__container" :tooltip="$t('tooltip.selectACountry')" tooltip-x="right">
      <select class="Selector__combo" required v-model="currentCountry">
        <option disabled hidden value="">{{ $t("map.selectCountry") }}</option>
        <optgroup
          class="Selector__optionGroup"
          v-for="countriesGroup in countries"
          :key="countriesGroup.category.key"
          :label="getAssessmentText(countriesGroup.category)"
          :style="cssVars(countriesGroup.category)"
          :disabled="!countriesGroup.category.is_assessed"
        >
          <option
            class="Selector__option"
            v-for="country in countriesGroup.countries"
            :key="country.pcode"
            :value="country"
          >
            {{ country.name }}
          </option>
        </optgroup>
      </select>
      <button @click="resetCurrentCountry" class="Selector__button" v-if="hasCurrentCountry">
        <img src="@/assets/icons/clear_combo.svg" aria-hidden="true" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "CountrySelector",
  data() {
    return {};
  },
  computed: {
    hasCurrentCountry: function () {
      return this.$store.getters["selection/hasCurrentCountry"];
    },
    currentCountry: {
      get() {
        if (this.hasCurrentCountry) {
          return this.$store.getters["selection/getCurrentCountry"];
        } else {
          return "";
        }
      },
      set(country) {
        if (country) {
          this.$store.commit("selection/setCurrentCountry", country);
        } else {
          this.$store.commit("selection/resetCurrentCountry");
        }
      }
    },
    countries: {
      get() {
        return this.$store.getters["assessmentCategories/getCategories"].map(category => {
          return {
            category: category,
            countries: this.$store.getters["countries/getCountries"]
              .filter(c => c.assessment_category.id === category.id)
              .sort((country1, country2) => {
                return country1.name.localeCompare(country2.name);
              })
          };
        });
      }
    },
    locale: function () {
      return this.$i18n.locale;
    }
  },
  methods: {
    resetCurrentCountry() {
      this.$store.commit("ui/updateChoroplethShown", false);
      this.$store.commit("selection/resetCurrentCountry");
    },
    cssVars: function (category) {
      return {
        "--assessment-category-color": category.color
      };
    },
    getAssessmentText: function (category) {
      return category.label[this.locale];
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.Selector {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  pointer-events: none;
  width: fit-content;

  @dim-pad: 1rem;

  .Selector__combo {
    height: 2.5rem;
    width: 14rem;
    opacity: 1;
    background: #ffffff;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    cursor: pointer;
    pointer-events: initial;

    color: @color-primary;
    font-family: @font-primary;
    font-size: 1.25em;
    padding: 0 0.25rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;

    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 @dim-pad;
    background-image: url(../assets/icons/dropdown.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - @dim-pad) center;
    background-size: 10px;

    &:disabled {
      color: @color-disabled;
      cursor: inherit;
    }

    &:invalid {
      color: @color-primary--dark;
    }
    .Selector__optionGroup {
      color: var(--assessment-category-color);
      .Selector__option {
        color: @color-primary--dark;
        &:disabled {
          color: @color-disabled;
          cursor: inherit;
        }
      }
    }
  }

  .Selector__container {
    position: relative;
    width: fit-content;

    @dim-rad: 3px;

    &:first-child .Selector__combo {
      border-top-left-radius: @dim-rad;
      border-bottom-left-radius: @dim-rad;
    }
    &:last-child .Selector__combo {
      border-top-right-radius: @dim-rad;
      border-bottom-right-radius: @dim-rad;
    }

    .Selector__button {
      @dim-close: 14px;

      cursor: pointer;
      position: absolute;
      right: calc(@dim-close / 2 + 2px);
      z-index: 1;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;
      border: none;
      background: none;
      pointer-events: initial;

      img {
        background-color: #ffffff;
        width: @dim-close;
        height: @dim-close;
      }
    }
  }
}
@media (max-width: @bp-m) {
  .Selector {
    flex-flow: column nowrap;
  }
}
</style>
