<template>
  <div class="HomePageSection">
    <span class="Anchor" :id="navigationId"></span>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "HomePageSection",
  props: {
    navigationId: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.HomePageSection {
  position: relative;
  margin: 0;
  padding: 0;

  .Anchor {
    position: absolute;
    top: 0;
  }
}
</style>
