<template>
  <div class="InfoPopup__ctn" :show="indicator">
    <div class="InfoPopup__bg" @click="close()"></div>
    <div class="InfoPopup">
      <button @click="close()" class="InfoPopup__close">
        <img :src="require('@/assets/icons/close.svg')" />
      </button>
      <h3 class="InfoPopup__head" v-if="indicator">
        {{ indicator.description.group.name[locale] }}
      </h3>
      <h2 class="InfoPopup__title" v-if="indicator">
        {{ indicator.description.label[locale] }}
      </h2>
      <p class="InfoPopup__subtitle" v-if="indicator">
        {{ indicator.description.utilisation[locale] || "" }}
      </p>
      <div class="InfoPopup__infoCtn" v-if="indicator">
        <h4>{{ $t("info.definition") }} :</h4>
        <p>{{ indicator.description.definition[locale] || "" }}</p>
        <h4>{{ $t("info.interest") }} :</h4>
        <p>{{ indicator.description.description[locale] || "" }}</p>
        <h4 v-if="dataSourceInfos">{{ $t("info.source") }} :</h4>
        <p v-if="dataSourceInfos">{{ dataSourceInfos.name[locale] || "" }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoPopup",
  data() {
    return {};
  },
  computed: {
    hasInfoPopup() {
      return this.$store.getters["ui/hasInfoPopup"];
    },
    indicator() {
      return this.$store.getters["ui/getInfoPopupIndicator"];
    },
    dataSourceInfos: function () {
      return this.$store.getters["selection/getIndicatorDataSourceInfos"](this.indicator);
    },
    locale: function () {
      return this.$i18n.locale;
    }
  },
  methods: {
    close: function () {
      this.$store.commit("ui/updateInfoPopupIndicator", null);
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.InfoPopup__ctn {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: @z-info-popup;
  pointer-events: none;

  .InfoPopup__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    background: fade(@color-primary--dark, 30%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .InfoPopup {
    position: absolute;
    background: white;
    width: 26rem;
    max-width: calc(100% - 2rem);
    box-shadow: 0 -1rem 2rem -0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    border: none;
    transform: translateY(4rem);
    opacity: 0;
    padding: @pad-popup 0;

    @pad-popup: 1.5rem;

    .InfoPopup__close {
      background: @color-primary--dark;
      border: solid 2px white;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      cursor: pointer;

      img {
        width: 70%;
      }
    }

    .InfoPopup__head {
      font-weight: bold;
      color: @color-primary;
      font-size: 1.3em;
      margin: 0;
      padding: 0 @pad-popup;
    }

    .InfoPopup__title {
      font-weight: bold;
      color: @color-primary--dark;
      font-size: 1.6em;
      line-height: 1.3em;
      margin-bottom: 0.25rem;
      padding: 0 @pad-popup;
    }

    .InfoPopup__subtitle {
      margin-top: 0;
      font-weight: bold;
      color: #737373;
      font-size: 1.3em;
      padding: 0 @pad-popup;
      margin-bottom: 1rem;
    }

    .InfoPopup__infoCtn {
      overflow-y: auto;
      max-height: 18rem;
      padding: 0 @pad-popup;
      scrollbar-color: @color-primary--dark #fff;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-clip: content-box;
        background-color: @color-primary--dark;
      }

      h4 {
        font-weight: bold;
        color: @color-primary--dark;
        font-size: 1.3em;
        margin-bottom: 0.5rem;
        margin-top: 0;
      }
      p {
        margin-top: 0;
        color: #737373;
        font-size: 1.2em;
      }
    }
  }

  &[show] {
    pointer-events: inherit;
    .InfoPopup__bg {
      opacity: 1;
    }
    .InfoPopup {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
</style>
