<template>
  <div class="LegendContent">
    <div class="LegendContent__header">
      <h4 class="LegendContent__title">{{ label }}</h4>
    </div>

    <div v-if="!hasCurrentCountry">
      <div
        class="LegendContent__countryAssesedCtn"
        v-for="category in categories"
        :key="category.key"
        :style="cssVars(category)"
      >
        <div class="LegendContent__countryColor"></div>
        <span>{{ $t(getAssessmentText(category)) }}</span>
      </div>
    </div>
    <LVILegend v-else :activeGroup="currentIndicator.description.group" />
  </div>
</template>

<script>
import LVILegend from "./LVILegend.vue";

export default {
  name: "LegendContent",
  components: {
    LVILegend
  },
  computed: {
    hasCurrentCountry: function () {
      return this.$store.getters["selection/hasCurrentCountry"];
    },
    currentIndicator() {
      return this.$store.getters["selection/getCurrentIndicator"];
    },
    categories: function () {
      return this.$store.getters["assessmentCategories/getCategories"];
    },
    label: function () {
      if (this.hasCurrentCountry) {
        return this.currentIndicator.description.label[this.locale];
      } else {
        return this.$i18n.t("legend.title");
      }
    },
    locale: function () {
      return this.$i18n.locale;
    }
  },
  methods: {
    cssVars: function (category) {
      return {
        "--bg-color": category.color
      };
    },
    getAssessmentText: function (category) {
      return category.label[this.locale];
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.LegendContent {
  @pad: 1rem;

  display: flex;
  flex-flow: column nowrap;
  background: #fff;
  padding: @pad;
  transition: transform 0.15s ease-in;
  pointer-events: initial;

  .LegendContent__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .LegendContent__title {
      margin: 0;
      font-weight: 700;
      font-size: 1.4em;
      color: @color-primary--dark;
    }
    .LegendContent__toggleBtn {
      width: 12px;
      margin-left: 1.5rem;
      cursor: pointer;
      user-select: none;
    }
  }
  .LegendContent__countryAssesedCtn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    .LegendContent__countryColor {
      width: 2rem;
      height: 1rem;
      border: solid 1px #c9c9c9;
      background-color: var(--bg-color);
    }
  }
}
</style>
