<template>
  <div :class="'Legend' + (choroplethShown ? ' Legend--chloroplethShow' : '')">
    <LegendContent></LegendContent>
    <div class="Legend__actionsCtn" v-if="hasCurrentCountry">
      <h5 class="Legend__actionTitle">{{ $t("legend.export") }}</h5>
      <button
        class="Legend__action Legend__action--exportCSV"
        @click="exportCsv()"
        :tooltip="$t('tooltip.exportCsv')"
        tooltip-x="left"
      >
        CSV
      </button>
      <button
        class="Legend__action Legend__action--exportPDF"
        @click="exportPdf()"
        :disabled="pdfGenerating"
        :tooltip="$t('tooltip.exportPdf')"
        tooltip-x="left"
      >
        PDF
        <i v-if="pdfGenerating" class="fa fa-spinner fa-spin"></i>
      </button>
      <PDFReport
        ref="pdf-report"
        :filename="filename"
        :map="map"
        v-on:pdfGenerated="pdfGenerating = false"
      />
    </div>
  </div>
</template>

<script>
import PDFReport from "./PDFReport/PDFReport.vue";
import LegendContent from "./LegendContent.vue";

export default {
  name: "Legend",
  components: {
    LegendContent,
    PDFReport
  },
  props: {
    map: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      pdfGenerating: false
    };
  },
  computed: {
    choroplethShown: function () {
      return this.$store.state.ui.choroplethShown && this.hasCurrentCountry;
    },
    hasCurrentCountry: function () {
      return this.$store.getters["selection/hasCurrentCountry"];
    },
    filename: function () {
      return (
        "signal-" +
        new Date().toISOString().slice(0, 10) +
        (this.hasCurrentCountry
          ? "-" +
            this.$store.getters["selection/getCurrentCountryPCode"] +
            "-admin" +
            this.$store.getters["selection/getCurrentAdminLevel"]
          : "")
      );
    }
  },
  methods: {
    exportCsv: function () {
      const data = this.$store.getters["selection/getCurrentAdminLevelLviData"];
      const lines = [];
      let hasExtractHeader = false;
      for (const key in data) {
        if (!hasExtractHeader) {
          hasExtractHeader = true;
          const headerLine = [];
          headerLine.push(...Object.keys(data[key]));
          lines.push(headerLine.join(";"));
        }
        const line = [];
        line.push(...Object.values(data[key]));
        lines.push(line.join(";"));
      }
      const csvString = lines.join("\n");

      this.downloadFile(
        "data:text/csv;charset=utf-8," + encodeURI(csvString).replaceAll("#", "%23"),
        this.filename + ".csv"
      );
    },

    downloadFile: function (href, filename) {
      var element = document.createElement("a");
      element.href = href;
      element.target = "_blank";
      element.download = filename;
      element.click();
    },
    exportPdf: async function () {
      this.pdfGenerating = true;
      const pdfReport = this.$refs["pdf-report"];
      pdfReport.exportToPDF();
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
html {
  -webkit-print-color-adjust: exact;
  -webkit-filter: opacity(1);
}
.Legend {
  @pad: 1rem;

  box-shadow: 0 -1rem 2rem -0.5rem rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: @z-legend;
  display: flex;
  flex-flow: column nowrap;
  pointer-events: none;
  min-width: @dim-legend-w;
  max-width: @dim-legend-w;
  transition: all 0.3s ease-in-out;

  &--chloroplethShow {
    transform: translateY(100%);
  }

  .Map[data-choropleth-shown="true"] & {
    transform: translateY(-@dim-choropleth);
  }

  .Legend__actionsCtn {
    background: @color-primary;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    z-index: 1;
    pointer-events: all;

    > * {
      margin: 0;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      font-weight: 100 !important;
      color: #fff;
      font-size: 1.1em;
      width: 40%;
      background: @color-primary;
      font-family: @font-primary;
      border: none;
    }
    .Legend__actionsCtn {
      width: 20%;
    }

    button {
      transition: all 0.15s ease-in;
      cursor: pointer;
      user-select: none;
      display: inline-flex;
      justify-content: flex-start;
      column-gap: 3px;
      align-items: center;
      cursor: pointer;
      pointer-events: inherit;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &::before {
        content: "";
        background: url(../assets/icons/arrow.svg) no-repeat center center;
        width: 15px;
        margin-right: 0.5rem;
        background-size: contain;
        height: 100%;
        display: inline-block;
      }
    }
  }
}
</style>
