<template>
  <div class="Loader" :data-show="isLoading">
    <div class="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Loader",
  props: {
    isLoading: {
      type: Boolean,
      default: () => false
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.Loader {
  position: absolute;
  inset: 0;
  background: fade(@color-primary--dark, 50%);
  z-index: @z-loader;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5em;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &[data-show] {
    opacity: 1;
  }

  .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .loader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
</style>
