<template>
  <div class="LVILegend">
    <div class="LVILegend__scheme">
      <div
        class="LVILegend__schemeItem"
        v-for="(scheme, schemeKey) in this.activeGroup.scheme"
        :key="schemeKey"
        :style="'background-color:' + scheme"
      ></div>
    </div>
    <div class="LVILegend__schemeLabels">
      <span v-for="label in labels" :key="label" class="LVILegend__label">
        {{ $t(`legend.${label}`) }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "LVILegend",
  props: {
    activeGroup: {
      type: Object
    }
  },

  computed: {
    labels() {
      return this.activeGroup.id === "lvi" ? ["good", "poor"] : ["poor", "good"];
    }
  }
};
</script>

<style lang="less">
.LVILegend {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100%;

  .LVILegend__scheme {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    column-gap: 0;
    row-gap: 0;

    .LVILegend__schemeItem {
      padding: 0;
      margin: 0;
      height: 6px;
      flex-grow: 1;
    }
  }
  .LVILegend__schemeLabels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 0.85em;
    margin-top: 0.25rem;
  }
}
</style>
