<template>
  <div class="LVIMapTooltipAdminLevel">
    <div class="LVIMapTooltipAdminLevel__item">
      <span class="LVIMapTooltipAdminLevel__description">{{ description }}</span>
      <span class="LVIMapTooltipAdminLevel__value" :style="cssVars">
        {{ lvi }}
      </span>
    </div>
    <div class="LVIMapTooltipAdminLevel__item" v-if="isDemographyActive && demography">
      <span class="LVIMapTooltipAdminLevel__value LVIMapTooltipAdminLevel__value--light"
        >{{ $n(demography.pop_count) }} {{ $t("lvi.demography.individuals") }}</span
      >
    </div>
  </div>
</template>

<script>
import { getChromaticIndex } from "@/services/ThematicService";
import { ADDITIONAL_LAYERS } from "@/domain/map/additionalLayers";

export default {
  name: "LVIMapTooltipAdminLevel",
  data() {
    return {};
  },
  computed: {
    demography() {
      return this.$store.getters["selection/getDemography"](this.hoveredPCode);
    },
    isDemographyActive: function () {
      return this.$store.getters["map/isLayerVisible"](ADDITIONAL_LAYERS.DEMOGRAPHY);
    },
    hoveredPCode() {
      return this.$store.getters["ui/getHoveredPCode"];
    },
    hoveredPCodeData() {
      return this.$store.getters["ui/getHoveredPCodeData"];
    },
    cssVars() {
      const index = getChromaticIndex(this.lvi);
      return {
        "--indicator-color": this.currentIndicator.description.group.scheme[index]
      };
    },
    currentIndicator() {
      return this.$store.getters["selection/getCurrentIndicator"];
    },
    lvi: function () {
      return this.hoveredPCodeData[this.currentIndicator.dataId];
    },
    description: function () {
      const hoveredData = this.hoveredPCodeData;
      if (hoveredData !== null) {
        return (
          hoveredData.adm3_fr ||
          hoveredData.adm3_en ||
          hoveredData.adm2_fr ||
          hoveredData.adm2_en ||
          hoveredData.adm1_fr ||
          hoveredData.adm1_en ||
          hoveredData.adm0_fr ||
          hoveredData.adm0_en ||
          hoveredData.name ||
          null
        );
      }

      return null;
    }
  },
  methods: {
    getAdminName: function (pcode, level) {
      const data =
        this.adminsState.lviDataPCodeDict[this.$store.getters["selection/getCurrentCountry"].pcode][
          pcode
        ];
      // @TODO Change it for english name
      return data ? data["adm" + level + "_fr"] : null;
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.LVIMapTooltipAdminLevel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.5rem;

  .LVIMapTooltipAdminLevel__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    .LVIMapTooltipAdminLevel__description {
      color: @color-primary--dark;
      font-weight: 700;
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    }

    .LVIMapTooltipAdminLevel__value {
      font-family: @font-primary;
      color: var(--indicator-color);
      font-weight: bold;
      padding: 0.25rem 0.5rem 0.25rem 0;
    }
    .LVIMapTooltipAdminLevel__value--light {
      font-style: italic;
      color: @color-primary--dark;
      font-weight: normal;
      padding: 0rem 0.5rem 0.25rem 0.5rem;
    }
  }
}
</style>
