<template>
  <div class="LVIMapTooltipCountry">
    <span class="LVIMapTooltipCountry__description">{{ description }}</span>
    <span class="LVIMapTooltipCountry__category" :style="cssVars">
      {{ $t(getAssessmentText(hoveredCountry.assessment_category)) }}
    </span>
  </div>
</template>

<script>
export default {
  name: "LVIMapTooltipCountry",
  computed: {
    hoveredPCode() {
      return this.$store.getters["ui/getHoveredPCode"];
    },
    hoveredPCodeData() {
      return this.$store.getters["ui/getHoveredPCodeData"];
    },
    hoveredCountry: function () {
      return this.$store.getters["countries/getCountryByPCode"](this.hoveredPCode);
    },
    cssVars() {
      return {
        "--assessment-category-bg-color": this.hoveredCountry.assessment_category.color
      };
    },
    description: function () {
      const hoveredData = this.hoveredPCodeData;
      if (hoveredData !== null) {
        return hoveredData.name || null;
      }

      return null;
    }
  },
  methods: {
    getAssessmentText: function (category) {
      return category.label[this.$i18n.locale];
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.LVIMapTooltipCountry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .LVIMapTooltipCountry__description {
    color: @color-primary--dark;
    font-weight: 700;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  }

  .LVIMapTooltipCountry__category {
    font-family: @font-primary;
    color: var(--indicator-color);
    font-weight: bold;
    padding: 0.25rem 0.5rem 0.25rem 0;
    color: @color-primary--dark;
    border-radius: 0 3px 3px 0;
    font-weight: 400;
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;
    background-color: var(--assessment-category-bg-color);
  }
}
</style>
