<template>
  <div
    class="LVIMapTooltip"
    :data-hovered="hasHoveredPCode && !isMapMoving"
    :show="hasHoveredPCode"
    ref="LVIMapTooltip"
  >
    <LVIMapTooltipCountry v-if="hoveredPCodeIsCountry" />
    <LVIMapTooltipAdminLevel v-else />
  </div>
</template>

<script>
import { pcodeIsCountry } from "@/domain/lvi/admins";

import LVIMapTooltipCountry from "./LVIMapTooltipCountry.vue";
import LVIMapTooltipAdminLevel from "./LVIMapTooltipAdminLevel.vue";

export default {
  name: "LVIMapTooltip",
  components: {
    LVIMapTooltipAdminLevel,
    LVIMapTooltipCountry
  },
  data() {
    return {};
  },
  mounted: function () {
    const cursor = this.$refs.LVIMapTooltip;
    let mapCtn = document.getElementById("mapCtn");

    let mouseX = 0;
    let mouseY = 0;

    let cursorX = 0;
    let cursorY = 0;

    let speed = 1; // change to increase the ease

    function animate() {
      var offset = getOffset(mapCtn);
      let distX = mouseX - cursorX - offset.left;
      let distY = mouseY - cursorY - offset.top;

      cursorX = cursorX + distX * speed;
      cursorY = cursorY + distY * speed;

      cursor.style.left = cursorX + "px";
      cursor.style.top = cursorY + "px";

      requestAnimationFrame(animate);
    }

    function getOffset(el) {
      const rect = el.getBoundingClientRect();
      return {
        left: rect.left + window.scrollX,
        top: rect.top + window.scrollY
      };
    }

    animate();

    document.addEventListener("mousemove", event => {
      mouseX = event.pageX;
      mouseY = event.pageY;
    });
  },
  computed: {
    hasHoveredPCode() {
      return this.$store.getters["ui/hasHoveredPCode"];
    },
    hoveredPCodeIsCountry() {
      return pcodeIsCountry(this.$store.getters["ui/getHoveredPCode"]);
    },
    isMapMoving: function () {
      return this.$store.getters["ui/isMapMoving"];
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.LVIMapTooltip {
  z-index: @z-map-popup;
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: @z-map-popup;
  transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
  height: fit-content;
  pointer-events: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform: translateX(0rem) translateY(-2rem);

  &[data-active="true"]:not([data-hovered="true"]) {
    transition: none;
    position: relative;
    top: inherit !important;
    left: inherit !important;
  }
  &[data-hovered="true"] {
    position: absolute;
  }
  opacity: 0;

  &[show] {
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
    // transform: translateY(-@dim-choropleth);
  }
}
</style>
