<template>
  <div
    class="LVIPopup"
    :data-active="hasCurrentAdminPCodeLviData"
    :show="hasCurrentAdminPCode"
    ref="lviPopup"
    :style="cssVars"
  >
    <button class="LVIPopup__closeButton" @click="close()">
      <img src="@/assets/icons/clear_button.svg" aria-hidden="true" />
    </button>
    <h2 class="LVIPopup__name">{{ currentAdminName }}</h2>
    <div class="LVIPopup__adminNames" v-html="adminNames"></div>
    <div class="LVIPopup__LVIKPICtn">
      <h3 class="LVIPopup__LVITitle">{{ currentIndicator.description.label[locale] }}</h3>
      <span class="LVIPopup__LVIKPI">{{ lvi }}</span>
    </div>

    <div class="LVIPopup__LVIBarCtn">
      <div class="LVIPopup__LVIBar" :style="'width: ' + lvi * 100 + '%'"></div>
    </div>
    <div class="LVIPopup__LVIBarLabels" v-if="currentIndicator.description.main">
      <span class="LVIPopup__LVIBarlabel">{{ $t("legend.good") }}</span>
      <span class="LVIPopup__LVIBarlabel">{{ $t("legend.poor") }}</span>
    </div>
    <div class="LVIPopup__LVIBarLabels" v-else>
      <span class="LVIPopup__LVIBarlabel">{{ $t("legend.poor") }}</span>
      <span class="LVIPopup__LVIBarlabel">{{ $t("legend.good") }}</span>
    </div>
    <div class="LVIPopup__LVIDetailBarsCtn" v-if="detailedIndicatorsShown">
      <LVIPopupBarItem v-for="indicator in indicators" :key="indicator.id" :indicator="indicator" />
      <LVIPopupDemographyItem :demography="demography" />
    </div>

    <button
      class="LVIPopup__btnDetailedIndicators"
      @click="updateDetailedIndicatorsShown(!detailedIndicatorsShown)"
      :tooltip="$t('tooltip.exportPdf')"
      tooltip-x="left"
    >
      {{ detailedIndicatorsShown ? $t("indicator.less") : $t("indicator.more") }}
    </button>

    <div class="LVIPopup__resultAction">
      <div class="LVIPopup__resultActionImgCtn">
        <img :src="require('@/assets/icons/arrow_big.svg')" />
      </div>
      <a
        class="LVIPopup__resultActionName"
        @click="setAdminLevelsCatalogFilter()"
        href="#catalog"
        >{{ $t("lvi.result") }}</a
      >
    </div>
  </div>
</template>

<script>
import { getChromaticIndex } from "@/services/ThematicService";
import LVIPopupBarItem from "./LVIPopupBarItem.vue";
import LVIPopupDemographyItem from "./LVIPopupDemographyItem.vue";
import { getLviAdminsNames, getLviAdminName } from "@/domain/lvi/lviData";
export default {
  name: "LVIPopup",
  components: {
    LVIPopupBarItem,
    LVIPopupDemographyItem
  },
  data() {
    return {};
  },
  computed: {
    hasCurrentAdminPCodeLviData() {
      return this.$store.getters["selection/hasCurrentAdminPCodeLviData"];
    },
    hasCurrentAdminPCode() {
      return this.$store.getters["selection/hasCurrentAdminPCode"];
    },
    currentAdminName() {
      return getLviAdminName(
        this.currentPCodeData,
        this.$store.getters["selection/getCurrentAdminLevel"]
      );
    },
    adminNames: function () {
      //TODO
      const names = [
        this.currentCountry.name,
        ...getLviAdminsNames(
          this.currentPCodeData,
          this.$store.getters["selection/getCurrentAdminLevel"]
        )
      ];
      return names.join(", ");
    },
    cssVars: function () {
      const index = getChromaticIndex(this.lvi);
      return {
        "--indicator-color": this.currentIndicator.description.group.scheme[index]
      };
    },
    currentIndicator() {
      return this.$store.getters["selection/getCurrentIndicator"];
    },
    currentPCodeData() {
      return this.$store.getters["selection/getCurrentAdminPCodeLviData"];
    },
    detailedIndicatorsShown: function () {
      return this.$store.state.ui.detailedIndicatorsShown;
    },
    currentCountry: function () {
      return this.$store.getters["selection/getCurrentCountry"];
    },
    indicators: function () {
      return this.$store.getters["selection/getCurrentIndicators"];
    },
    demography: function () {
      return this.$store.getters["selection/getCurrentDemography"];
    },

    lvi: function () {
      if (!this.hasCurrentAdminPCodeLviData) {
        return null;
      }
      return this.currentPCodeData[this.currentIndicator.dataId];
    },
    locale: function () {
      return this.$i18n.locale;
    }
  },
  methods: {
    close: function () {
      this.$store.commit("selection/clearCurrentAdminPCode");
    },
    setAdminLevelsCatalogFilter: function () {
      // Can be tested by forcing the value:
      // this.$store.commit("catalog/setAdminLevelsFilter", {
      //   admin: "BF56",
      //   country: "BFA"
      // });
      this.$store.commit("catalog/setAdminLevelsFilter", {
        admin: this.$store.getters["selection/getCurrentAdminPCode"],
        country: this.$store.getters["selection/getCurrentCountry"].pcode
      });
    },
    updateDetailedIndicatorsShown: function (show) {
      this.$store.commit("ui/updateDetailedIndicatorsShown", show);
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.Map {
  --hide-popup-tip: inherit;
  --color-active-source: @color-lvi;
}
.mapboxgl-popup-content,
.maplibregl-popup-content {
  padding: inherit;
  width: fit-content;
}
.mapboxgl-popup,
.maplibregl-popup {
  z-index: @z-map-popup;
}
.maplibregl-popup-tip.mapboxgl-popup-tip,
.maplibregl-popup-close-button.mapboxgl-popup-close-button {
  display: var(--hide-popup-tip);
}
@dim-lvi-popup-w: 18rem;
.maplibregl-popup-close-button.mapboxgl-popup-close-button {
  display: none;
}
@dim-offset-y: 50%;
.LVIPopup {
  z-index: @z-map-popup;
  position: absolute;
  background: white;
  padding: 1.5rem;
  width: @dim-lvi-popup-w;
  box-shadow: 0 -1rem 2rem -0.5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
  height: fit-content;
  opacity: 0;
  transform: translateY(-@dim-offset-y);
  user-select: none;
  pointer-events: none;

  &[show] {
    opacity: 1;
    pointer-events: all;

    .LVIPopup__resultAction {
      .LVIPopup__resultActionName {
        pointer-events: all;
      }
    }
  }
  .LVIPopup__closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    margin: 0;
    background: transparent;
    border-width: 0;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: all;
    width: 32px;
    height: 28px;
    img {
      margin: 0;
      padding: 0;
    }
    &:hover {
      background: #0077c814;
    }
  }

  .LVIPopup__name {
    font-size: 1.5em;
    color: @color-primary--dark;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  .LVIPopup__adminNames {
    font-size: 1.2em;
    color: #737373;
    font-weight: 700;
  }
  .LVIPopup__LVIKPICtn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .LVIPopup__LVITitle {
      font-size: 1.2em;
      color: @color-primary--dark;
      font-weight: 700;
    }
    .LVIPopup__LVIKPI {
      font-size: 1.2em;
      font-family: @font-primary;
      color: var(--indicator-color);
      font-weight: bold;
    }
  }

  .LVIPopup__LVIBarCtn {
    display: flex;
    position: relative;
    border: solid 1px #c9c9c9;
    height: 5px;

    .LVIPopup__LVIBar {
      content: attr(data-lvi number, 0);
      position: absolute;
      top: 0;
      left: 0;
      background: var(--indicator-color);
      width: 100%;
      height: 100%;
      transform-origin: left;
      transition: width 0.2s ease-in;

      &::after {
        content: "";
        background: url(../assets/icons/lvi_marker.svg) no-repeat center center;
        width: 7px;
        height: 10px;
        position: absolute;
        right: -3px;
        bottom: 100%;
        margin-bottom: 1px;
      }
    }
  }

  .LVIPopup__LVIBarLabels {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    .LVILVIPopup__LVIBarLabelDetail__label {
      color: @color-primary--dark;
      opacity: 0.6;
    }
  }

  .LVIPopup__LVIDetailBarsCtn {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
  }

  .LVIPopup__btnDetailedIndicators {
    padding: 0.5rem 1rem;
    background: #0077c814;
    color: @color-primary;
    transition: all 0.15s ease-in;
    font-family: @font-primary;
    border-width: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 0.25rem;
    pointer-events: all;

    &:hover {
      background: #0077c830;
    }
  }

  .LVIPopup__resultAction {
    min-width: 10rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    margin: 1rem 0 0.5rem 0;

    .LVIPopup__resultActionName {
      text-transform: uppercase;
      color: @color-primary;
      margin-left: 0.5rem;
      font-weight: bold;
      font-size: 1.15em;
    }

    .LVIPopup__resultActionImgCtn {
      width: 15px;
      overflow: hidden;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      transition: all 0.15s ease-in;
    }
    img {
      max-height: 7px;
    }

    &:hover {
      .LVIPopup__resultActionImgCtn {
        width: 30px;
      }
    }
  }
}
</style>
