<template>
  <div class="LVIPopupDemographyItem" v-if="demography">
    <h4 class="LVIPopupDemographyItem__title">{{ $t("lvi.demography.title") }}</h4>
    <span class="LVIPopupDemographyItem__value"
      >{{ $n(demography.pop_count) }} {{ $t("lvi.demography.individuals") }}</span
    >
  </div>
</template>

<script>
export default {
  name: "LVIPopupDemographyItem",
  props: {
    demography: {
      type: Object
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.LVIPopupDemographyItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05em;
  margin-top: 1rem;

  .LVIPopupDemographyItem__title {
    margin: 0;
    color: @color-primary--dark;
    max-width: calc(100% - 2rem);
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
  }
  .LVIPopupDemographyItem__value {
    color: @color-primary--dark;
    font-weight: bold;
  }
}
</style>
