<template>
  <div class="LVIDetail" :style="cssVars()">
    <div class="LVIDetail__barInfo">
      <h4 class="LVIDetail__LVITitle" :title="indicator.description.tooltip[locale]">
        {{ indicator.description.label[locale] }}
      </h4>
      <span class="LVIDetail__LVIKPI" v-if="indicator.dataId in pCodeData">{{ lviValue }}</span>
    </div>
    <div class="LVIDetail__barCtn">
      <div class="LVIDetail__LVIBar" :style="'width: ' + lviValue * 100 + '%'"></div>
    </div>
    <div class="LVIDetail__labels">
      <span class="LVIDetail__label">{{ $t("legend.poor") }}</span>
      <span class="LVIDetail__label">{{ $t("legend.good") }}</span>
    </div>
  </div>
</template>

<script>
import { getChromaticIndex } from "@/services/ThematicService";
export default {
  name: "LVIPopupBarItem",
  props: {
    indicator: {
      type: Object
    }
  },
  computed: {
    hasCurrentAdminPCodeLviData() {
      return this.$store.getters["selection/hasCurrentAdminPCodeLviData"];
    },
    locale: function () {
      return this.$i18n.locale;
    },
    lviValue: function () {
      if (!this.hasCurrentAdminPCodeLviData) {
        return null;
      }
      return this.pCodeData[this.indicator.dataId];
    },
    pCodeData: function () {
      if (!this.hasCurrentAdminPCodeLviData) {
        return [];
      }
      return this.$store.getters["selection/getCurrentAdminPCodeLviData"];
    }
  },
  methods: {
    cssVars: function () {
      const index = getChromaticIndex(this.lviValue);
      return {
        "--indicator-color": this.indicator.description.group.scheme[index]
      };
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.LVIDetail {
  display: flex;
  flex-flow: column nowrap;

  .LVIDetail__barInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.05em;
    margin-top: 0.5rem;

    .LVIDetail__LVITitle {
      margin: 0;
      color: @color-primary--dark;
      max-width: calc(100% - 2rem);
      white-space: nowrap;
      overflow-x: hidden;
      cursor: pointer;
      text-overflow: ellipsis;
    }
    .LVIDetail__LVIKPI {
      color: var(--indicator-color);
      font-weight: bold;
    }
  }
  .LVIDetail__barCtn {
    position: relative;
    height: 2px;
    border-radius: 1px;
    background: #ddd;

    .LVIDetail__LVIBar {
      position: absolute;
      inset: 0;
      border-radius: 1px;
      background: var(--indicator-color);
      height: 100%;
      transition: width 0.2s ease-in;
    }
  }
  .LVIDetail__labels {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .LVIDetail__label {
      color: @color-primary--dark;
      opacity: 0.6;
    }
  }
}
</style>
