<template>
  <div class="MapBasemapControl">
    <div class="MapBasemapControl__trigger" @click="togglePicker">
      <slot name="trigger"></slot>
    </div>
    <div
      class="MapBasemapControl__picker"
      :class="{ MapBasemapControl__picker_expanded: pikerExpanded }"
    >
      <div
        class="MapBasemapControl__picker__item"
        :class="{
          MapBasemapControl__picker__item_active: basemap === 'satellite'
        }"
        @click="changeBasemap('satellite')"
      >
        <img
          class="MapBasemapControl__picker__item__image"
          :src="require('@/assets/imgs/basemap_satellite.png')"
          alt="Satellite imagery basemap"
        />
      </div>
      <div
        class="MapBasemapControl__picker__item"
        :class="{
          MapBasemapControl__picker__item_active: basemap === 'default'
        }"
        @click="changeBasemap('default')"
      >
        <img
          class="MapBasemapControl__picker__item__image"
          :src="require('@/assets/imgs/basemap_default.png')"
          alt="default basemap"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "MapBasemapControl",

  data() {
    return {
      pikerExpanded: false
    };
  },

  computed: {
    ...mapGetters({ basemap: "map/basemap" })
  },

  methods: {
    ...mapMutations({ changeBasemap: "map/changeBasemap" }),

    togglePicker() {
      this.pikerExpanded = !this.pikerExpanded;
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

@dim-picker-item: 2.5rem;
@dim-picker-item-spacing: 0.5rem;
@dim-picker-expanded: (@dim-picker-item * 2) + (@dim-picker-item-spacing * 1);

.MapBasemapControl {
  position: relative;

  &__trigger {
    width: @dim-picker-item;
    height: @dim-picker-item;
  }

  &__picker {
    position: absolute;
    top: 0;
    right: 60px;
    width: 0;
    height: @dim-picker-item;
    overflow: hidden;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    &_expanded {
      width: @dim-picker-expanded;
    }

    &__item {
      box-sizing: border-box;
      display: inline-block;
      width: @dim-picker-item;
      height: @dim-picker-item;
      margin-left: @dim-picker-item-spacing;
      border: 3px solid #fff;
      border-radius: 4px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &_active {
        border: 4px solid @color-primary;
      }

      &__image {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
</style>
