<template>
  <div class="MapControls">
    <div class="MapControls__navigation">
      <button
        @click="zoomIn"
        class="MapControls__button"
        :tooltip="$t('tooltip.zoomIn')"
        tooltip-x="left"
      >
        <img :src="require('@/assets/icons/plus.svg')" />
      </button>
      <div class="MapControls__separator"></div>
      <button
        @click="zoomOut"
        class="MapControls__button"
        :tooltip="$t('tooltip.zoomOut')"
        tooltip-x="left"
      >
        <img :src="require('@/assets/icons/minus.svg')" aria-hidden="true" />
      </button>
      <div class="MapControls__separator"></div>
      <button
        @click="zoomReset"
        class="MapControls__button"
        :tooltip="$t('tooltip.defaultExtent')"
        tooltip-x="left"
      >
        <img :src="require('@/assets/icons/earth.svg')" aria-hidden="true" />
      </button>
    </div>
    <div class="MapControls__basemap">
      <MapBasemapControl>
        <template v-slot:trigger>
          <button class="MapControls__button" :tooltip="$t('tooltip.basemap')" tooltip-x="left">
            <img :src="require('@/assets/icons/dots.svg')" />
          </button>
        </template>
      </MapBasemapControl>
    </div>
    <div class="MapControls__infos">
      <a
        :href="publicPath + 'docs/user/Tuto_dashboard_v3_' + locale.toUpperCase() + '.pdf'"
        target="_blank"
        class="MapControls__button"
        :tooltip="$t('tooltip.help')"
        tooltip-x="left"
      >
        <img :src="require('@/assets/icons/question_mark.svg')" />
      </a>
    </div>
  </div>
</template>

<script>
import MapBasemapControl from "@/components/MapBasemapControl.vue";

export default {
  name: "MapControls",
  components: {
    MapBasemapControl
  },
  props: {
    map: {
      type: Object,
      required: true
    },
    scene: {
      lng: 1,
      lat: 20,
      baseZoom: 2
    }
  },
  computed: {
    locale: function () {
      return this.$i18n.locale;
    },
    publicPath: function () {
      return process.env.BASE_URL;
    }
  },
  watch: {
    "$store.state.selection.currentSelection": function () {
      if (!this.$store.getters["selection/hasCurrentCountry"]) {
        this.zoomReset();
      }
    }
  },
  methods: {
    zoomIn() {
      this.map.zoomIn();
    },
    zoomOut() {
      this.map.zoomOut();
    },
    zoomReset() {
      this.map.flyTo({
        center: [this.scene.lng, this.scene.lat],
        zoom: this.scene.baseZoom
      });
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.MapControls {
  @dim-btn: 2.5rem;
  pointer-events: none;

  > * {
    pointer-events: all;
  }

  .MapControls__navigation {
    border: 1px solid #c9c9c9;
    border-radius: 4px;
  }

  .MapControls__basemap {
    margin-top: 12px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
  }

  .MapControls__infos {
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    margin-top: 12px;
  }

  .MapControls__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: @dim-btn;
    height: @dim-btn;
    background-color: #fff;
    cursor: pointer;
    border: none;
    margin: auto;
    padding: 0px;
    transition-duration: 0.2s;
  }
  .MapControls__button:hover {
    background-color: #c9c9c9;
  }
  .MapControls__button:active {
    background-color: #e3e3e3;
  }

  .MapControls__separator {
    width: @dim-btn;
    height: 1px;
    background-color: #c9c9c9;
  }
}
</style>
