<template>
  <div class="MapZoomHelper" :data-show="this.$store.state.ui.mapZoomHelperShown">
    <span
      >{{ $t("map.zoomBegin") }} <b>Ctrl</b> {{ $t("map.zoomMid") }} <b>Alt </b> +
      {{ $t("map.zoomEnd") }}</span
    >
  </div>
</template>

<script>
export default {
  name: "MapZoomHelper"
};
</script>

<style lang="less">
@import "../assets/less/_var.less";
.MapZoomHelper {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: fade(@color-primary--dark, 30%);
  position: absolute;
  inset: 0;
  z-index: @z-map-zoom-helper;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: white;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
  }

  &[data-show] {
    opacity: 1;
  }
}
</style>
