<template>
  <a
    class="NavHelper"
    :class="{ NavHelper_disabled: nextSection === '' }"
    :title="nextSectionTitle"
    :href="`#${nextSection}`"
  >
    <img class="NavHelper__icon" src="@/assets/icons/arrow-down-outline.svg" />
  </a>
</template>

<script>
export default {
  name: "NavHelper",

  props: {
    sections: { type: Array, required: true }
  },

  data() {
    return { nextSection: "" };
  },

  computed: {
    sectionElements() {
      return this.sections.map(section => this.$root.$el.querySelector(`#${section}`));
    },
    nextSectionTitle() {
      return `${this.$t("navHelper.goTo")} "${this.$t(`nav.${this.nextSection}`)}"`;
    }
  },

  watch: {
    sectionElements() {
      this.refreshNextSection();
    }
  },

  mounted() {
    this.refreshNextSection();
    this.$root.$el.addEventListener("scroll", this.refreshNextSection);
  },

  beforeDestroy() {
    this.$root.$el.removeEventListener("scroll", this.refreshNextSection);
  },

  methods: {
    refreshNextSection() {
      // This offset is linked to the position of the navigation helper link set in the style part of this component.
      // It must be equal to the root element offset height minus the gap between the bottom of the page and the
      // navigation helper link. As this gap is set in style to 40vh we get this value with the
      // window.innerHeight * 0.4 calculation.
      const offset = this.$root.$el.offsetHeight - window.innerHeight * 0.4;
      const next = this.sectionElements.find(elmt => elmt.getBoundingClientRect().top >= offset);
      this.nextSection = next ? next.id : "";
    }
  }
};
</script>

<style lang="less">
@import "../assets/less/_var.less";

.NavHelper {
  position: fixed;
  bottom: 40vh;
  right: 50px;
  z-index: @z-floating-button;

  &_disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  &__icon {
    width: 80px;
    height: 80px;
  }
}
</style>
