@color-primary: #0077c8;

@color-secondary: #6c757d;

@color-primary--light: #5bc2e7;
@color-primary--dark: #002e43;

@color-primary-complementary: #fff;

@color-disabled: #c9c9c9;
@color-lvi: #e35205;

@color-fuschia: #6a2a5b;
@color-blue-navy: #010e87;
