@dim-xs: @dim-sm / 2;
@dim-sm: 15px;
@dim-md: @dim-sm * 2;
@dim-lg: @dim-md * 2;

@dim-topnavbar: 54px;
@dim-navbar: 58px;
@dim-choropleth: 14rem;
@dim-footer: 40px;
@dim-legend-w: 21rem;

// Breakpoints
@bp-m: 1000px;

@close-size: 3rem;
@close-pad: 1rem;
