@z-tooltip: 4096;
@z-floating-button: 3144;
@z-nav: 2048;
@z-info-popup: 1024;
@z-map-popup: 512;
@z-choropleth: 256;
@z-legend: 384;
@z-admin-level-picker: 64;
@z-map-zoom-helper: 32;
@z-loader: 32;
