<template>
  <div id="app">
    <HeaderNav />
    <Nav />
    <HomePageSection navigationId="map" id="mapCtn">
      <Map />
    </HomePageSection>
    <HomePageSection navigationId="catalog">
      <Catalog />
    </HomePageSection>
    <HomePageSection navigationId="about">
      <About />
    </HomePageSection>
    <HomePageSection navigationId="usefulness">
      <Usefulness />
    </HomePageSection>
    <HomePageSection navigationId="partners">
      <Partners />
    </HomePageSection>
    <HomePageSection navigationId="contact">
      <Contact />
    </HomePageSection>
    <HomePageSection navigationId="more">
      <More />
    </HomePageSection>
    <NavHelper :sections="sections" />
    <DevFooter />
  </div>
</template>

<script>
import HeaderNav from "@/views/HeaderNav.vue";
import Nav from "@/views/Nav.vue";
import Map from "@/views/Map.vue";
import Catalog from "@/views/Catalog.vue";
import About from "@/views/About.vue";
import Partners from "@/views/Partners.vue";
import Contact from "@/views/Contact.vue";
import More from "@/views/More.vue";
import NavHelper from "@/components/NavHelper.vue";
import DevFooter from "@/views/DevFooter.vue";
import Usefulness from "@/views/Usefulness.vue";

import HomePageSection from "@/components/HomePageSection.vue";

export default {
  name: "App",
  components: {
    HeaderNav,
    Nav,
    Map,
    Catalog,
    About,
    Partners,
    Contact,
    More,
    Usefulness,
    NavHelper,
    DevFooter,
    HomePageSection
  },
  data() {
    return { sections: [] };
  },
  mounted() {
    this.sections = ["map", "catalog", "about", "usefulness", "partners", "contact"];
    this.$el.addEventListener("scroll", () => {
      var winScroll = this.$el.scrollTop;
      var height = this.$el.scrollHeight - this.$el.clientHeight;
      var scrolled = (winScroll / height) * 100;
      document.getElementById("ScrollIndicator__bar").style.width = scrolled + "%";
    });
  }
};
</script>

<style lang="less">
@import "./assets/less/_var.less";

body {
  margin: 0;
  height: 100vh;
}

.HomePageSection,
.Header {
  scroll-snap-align: start;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  scroll-padding-top: @dim-topnavbar + @dim-navbar;

  > * {
    font-family: @font-primary;
  }
}

&::selection {
  background: @color-primary;
  color: #fff;
}

a {
  text-decoration: none;
}

// Utility CSS class
.ctn {
  width: 1000px;
  max-width: calc(100% - 2rem);
  margin: 3.5rem auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3.5em;
}

[tooltip] {
  cursor: help;
  position: relative;

  &[tooltip-x="right"]::after {
    left: 100%;
    transform-origin: left;
    margin-left: 0.5rem;

    &[tooltip-y="top"]::after {
      transform-origin: left top;
    }
    &[tooltip-y="bottom"]::after {
      transform-origin: left bottom;
    }
  }

  &[tooltip-x="left"]::after {
    right: 100%;
    transform-origin: right;
    margin-right: 0.5rem;
    text-align: right;

    &[tooltip-y="top"]::after {
      transform-origin: right top;
    }
    &[tooltip-y="bottom"]::after {
      transform-origin: right bottom;
    }
  }

  &[tooltip-y="top"]::after {
    bottom: inherit;
  }

  &[tooltip-y="bottom"]::after {
    top: inherit;
  }

  &::after {
    content: attr(tooltip);
    height: fit-content;
    width: max-content;
    text-transform: initial !important;
    position: absolute;
    transform: scale(0.6);
    opacity: 0;
    transform-origin: left bottom;
    pointer-events: none;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    background: @color-primary--dark;
    color: white;
    max-width: 14rem;
    display: inline;
    line-height: 1.4em;
    z-index: @z-tooltip;
    font-size: 0.8rem;
    font-weight: 500;
    right: 100%;
    transform-origin: center;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    transition: all 0.15s ease-in;
  }

  &:hover {
    &::after {
      opacity: 0.9;
      transform: scale(1);
    }
  }
}

// Utility CSS class
// used in section like About or Usefulness
.InfoCtn {
  display: flex;
  flex-flow: row;
  column-gap: 0;
  padding: 0;
  text-align: justify;

  &__img {
    min-width: 50%;
    max-width: 50%;
    position: relative;

    &::after {
      content: attr(data-copyright);
      padding: 0.25rem 0.5rem;
      background: fade(@color-primary--dark, 50%);
      color: @color-primary-complementary;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: @font-xs;
    }
  }

  &__ctn {
    min-width: 50%;
    max-width: 50%;

    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    justify-content: flex-start;

    h2 {
      font-family: @font-title;
      font-weight: 300;
      text-align: left;
    }

    > * {
      margin: 0 5rem;
    }
  }
  &__desc {
    font-weight: 700;
    font-size: 1.1em;
    text-align: left;
  }
}
</style>
